@charset "UTF-8";
/* Cong Min 于 2015.12.21 */
/* powered by sass&compass */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'webfont';
  src: url("../font/webfont.eot");
  /* IE9*/
  src: url("../font/webfont.eot?#iefix") format("embedded-opentype"), url("../font/webfont.woff") format("woff"), url("../font/webfont.ttf") format("truetype"), url("../font/webfont.svg#webfont") format("svg");
  /* iOS 4.1- */
}
/* iconfont */
@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot?t=1463904775");
  /* IE9*/
  src: url("../font/iconfont.eot?t=1463904775#iefix") format("embedded-opentype"), url("../font/iconfont.woff?t=1463904775") format("woff"), url("../font/iconfont.ttf?t=1463904775") format("truetype"), url("../font/iconfont.svg?t=1463904775#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 25, style.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, style.scss */
.icon-sort-desc:before {
  content: "\e600";
}

/* line 34, style.scss */
.icon-github:before {
  content: "\e601";
}

/* line 35, style.scss */
.icon-weibo:before {
  content: "\e602";
}

/* line 36, style.scss */
.icon-qzone:before {
  content: "\e603";
}

/* 滚动条 */
/* line 39, style.scss */
::-webkit-scrollbar {
  background-color: #F1F1F1;
  overflow: visible;
  width: 3px;
  height: 3px;
}

/* line 45, style.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  min-height: 15px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 51, style.scss */
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 54, style.scss */
::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 57, style.scss */
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* line 61, style.scss */
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

/* line 66, style.scss */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* line 70, style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 74, style.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

/* line 78, style.scss */
body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Aria, "Microsoft YaHei", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
  background: #222;
}
/* line 90, style.scss */
body.slide .header,
body.slide .container {
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}
/* line 95, style.scss */
body.slide .nav .top {
  right: 300px;
}
/* line 97, style.scss */
body.slide .nav .top .menu-btn {
  right: -60px;
}
/* line 101, style.scss */
body.slide .nav .menu {
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}
/* line 106, style.scss */
body.slide .nav.fixed .menu-btn {
  right: -55px;
}

/* line 112, style.scss */
a {
  color: #333;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 117, style.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 125, style.scss */
.willUp {
  position: relative;
  opacity: 0;
  -moz-transform: translate3d(0, 80px, 0);
  -ms-transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 80px, 0);
  transform: translate3d(0, 80px, 0);
  -moz-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 130, style.scss */
.willUp.up {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 135, style.scss */
.black-shadow {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 146, style.scss */
.nav {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

/* line 156, style.scss */
.nav.fixed {
  height: 60px;
}
/* line 158, style.scss */
.nav.fixed .top {
  height: 60px;
  background: #3b95d3;
}
/* line 161, style.scss */
.nav.fixed .top .logo {
  top: 10px;
  left: 5%;
  width: 40px;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
/* line 167, style.scss */
.nav.fixed .top .logo img {
  width: 40px;
  height: 40px;
}
/* line 172, style.scss */
.nav.fixed .top .menu-btn {
  display: none;
  top: 15px;
}
@media screen and (max-width: 960px) {
  /* line 172, style.scss */
  .nav.fixed .top .menu-btn {
    display: block;
  }
}
@media screen and (min-width: 960px) {
  /* line 180, style.scss */
  .nav.fixed .menu {
    z-index: 1003;
    left: 0;
    right: 0;
    width: auto;
    height: 60px;
    text-align: left;
    background-color: transparent;
    color: #fff;
  }
  /* line 190, style.scss */
  .nav.fixed .menu ul {
    top: 0;
    left: 6%;
    padding-left: 80px;
    overflow: hidden;
  }
  /* line 195, style.scss */
  .nav.fixed .menu ul li {
    float: left;
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
  }
  /* line 202, style.scss */
  .nav.fixed .menu ul li:hover {
    color: #fff;
  }
  /* line 207, style.scss */
  .nav.fixed .menu .menu-footer {
    display: none;
  }
}

/* line 213, style.scss */
.top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1003;
  width: 100%;
  height: 100px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 221, style.scss */
.top .logo {
  float: left;
  position: fixed;
  top: 30px;
  left: 5%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 231, style.scss */
.top .logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 234, style.scss */
.top .logo img {
  width: 60px;
  height: 60px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 240, style.scss */
.top .menu-btn {
  float: right;
  position: absolute;
  top: 38px;
  right: 4%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background: url("../img/menu2close.png");
  -moz-background-size: auto 28px;
  -o-background-size: auto 28px;
  -webkit-background-size: auto 28px;
  background-size: auto 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-transition: right 0.6s ease, top 0.3s ease-in-out;
  -o-transition: right 0.6s ease, top 0.3s ease-in-out;
  -webkit-transition: right 0.6s ease, top 0.3s ease-in-out;
  transition: right 0.6s ease, top 0.3s ease-in-out;
}

/* line 255, style.scss */
.menu {
  position: fixed;
  z-index: 1002;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
/* line 266, style.scss */
.menu ul {
  position: relative;
  top: 25%;
}
/* line 269, style.scss */
.menu ul li {
  font-size: 1.3em;
  padding: 5px 20px;
  cursor: pointer;
}
/* line 273, style.scss */
.menu ul li:hover {
  color: #3b95d3;
}
/* line 278, style.scss */
.menu .menu-footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 2%;
  width: 100%;
  color: #888;
}

/* header */
/* line 287, style.scss */
.header,
.container {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

/* line 292, style.scss */
.header {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  text-align: center;
  background: #fff;
}
/* line 301, style.scss */
.header .main-btns {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 20px;
}
/* line 308, style.scss */
.header .main-btns img {
  width: 100%;
}
/* line 312, style.scss */
.header .prev-btn, .header .next-btn {
  top: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 316, style.scss */
.header .prev-btn:hover, .header .next-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 320, style.scss */
.header .prev-btn {
  left: 15px;
}
/* line 323, style.scss */
.header .next-btn {
  right: 15px;
}
/* line 326, style.scss */
.header .down-btn {
  left: 50%;
  bottom: 50px;
  margin-left: -35px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 332, style.scss */
.header .down-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 336, style.scss */
.header ul.header-list {
  position: absolute;
  z-index: 1;
  bottom: 2%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 343, style.scss */
.header ul.header-list li {
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
}
/* line 351, style.scss */
.header ul.header-list li:hover {
  background: #ccc;
}
/* line 354, style.scss */
.header ul.header-list li.active {
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  background: url("../img/logo.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 365, style.scss */
.main-box {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 370, style.scss */
.particles {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* line 381, style.scss */
.bb-item .blues-video {
  display: none;
  position: absolute;
  padding: 2% 5%;
  z-index: 999;
  margin: 5% 15%;
  width: 60%;
  height: 70%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 390, style.scss */
.bb-item .blues-video .close-video {
  float: right;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
/* line 396, style.scss */
.bb-item .blues-video #player {
  width: 90%;
  height: 95%;
}

/* line 402, style.scss */
.box-item {
  position: absolute;
  z-index: 1;
  color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 409, style.scss */
.box-item .box-center {
  position: absolute;
  top: 23%;
  width: 100%;
}
/* line 413, style.scss */
.box-item .box-center h1 {
  font-size: 9vmin;
  font-weight: 200;
}
/* line 419, style.scss */
.box-item .box-center .box-btns {
  position: relative;
  z-index: 3;
  width: 100%;
  margin-top: 40px;
}
/* line 425, style.scss */
.box-item .box-center .box-btn {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.4em 1em;
  margin: 0 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;
}
/* line 433, style.scss */
.box-item .box-center .box-btn:hover {
  color: #3b95d3;
  background-color: #fff;
}

/* line 440, style.scss */
.box-1 {
  background-color: #3b95d3;
}
/* line 443, style.scss */
.box-1 .box-center h1 {
  font-family: "webfont", "Helvetica Neue", Helvetica, Aria, "Microsoft YaHei", sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

/* line 449, style.scss */
.box-2 {
  background-image: url("../img/box-2-bg.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 453, style.scss */
.box-3 {
  background-color: #3b95d3;
}

/* //header */
/* container */
/* line 458, style.scss */
.container {
  width: 100%;
  background-color: #fff;
}

/* line 462, style.scss */
.bs-header {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;
  background-image: url("../img/bs-bg.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 470, style.scss */
.bs-header .content {
  position: absolute;
  top: 35%;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  line-height: 1.25;
}
/* line 477, style.scss */
.bs-header .content h1 {
  font-size: 60px;
  font-weight: 200;
}
@media screen and (max-width: 750px) {
  /* line 477, style.scss */
  .bs-header .content h1 {
    font-size: 50px;
  }
}
/* line 486, style.scss */
.bs-header .content h2 {
  font-size: 35px;
  font-weight: 100;
}
@media screen and (max-width: 750px) {
  /* line 486, style.scss */
  .bs-header .content h2 {
    font-size: 30px;
  }
}
/* line 496, style.scss */
.bs-header .icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 502, style.scss */
.bs-header .icons .icon {
  display: inline-block;
  color: #ddd;
  margin: 10px 5px;
  padding: 5px;
}
/* line 507, style.scss */
.bs-header .icons .icon .iconfont {
  font-size: 22px;
}
/* line 510, style.scss */
.bs-header .icons .icon:hover {
  color: #fff;
}

/* line 516, style.scss */
.section {
  width: 100%;
  overflow: hidden;
  padding: 45px 0 75px;
}
/* line 520, style.scss */
.section .content {
  width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  /* line 520, style.scss */
  .section .content {
    width: 750px;
  }
}
@media screen and (max-width: 750px) {
  /* line 520, style.scss */
  .section .content {
    width: 90%;
  }
}
/* line 530, style.scss */
.section h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}
@media screen and (max-width: 750px) {
  /* line 530, style.scss */
  .section h1 {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
}
/* line 542, style.scss */
.section p {
  text-indent: 2em;
}

/* 发展历史 */
/* line 548, style.scss */
.section-1 {
  background-color: #fefefe;
}
/* line 550, style.scss */
.section-1 .swiper-box {
  position: relative;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 554, style.scss */
.section-1 .swiper-box .swiper-button-prev,
.section-1 .swiper-box .swiper-button-next {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 558, style.scss */
.section-1 .swiper-box .swiper-button-prev:hover,
.section-1 .swiper-box .swiper-button-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 562, style.scss */
.section-1 .swiper-box .swiper-button-prev {
  left: -40px;
}
@media screen and (max-width: 750px) {
  /* line 562, style.scss */
  .section-1 .swiper-box .swiper-button-prev {
    display: none;
  }
}
/* line 568, style.scss */
.section-1 .swiper-box .swiper-button-next {
  right: -40px;
}
@media screen and (max-width: 750px) {
  /* line 568, style.scss */
  .section-1 .swiper-box .swiper-button-next {
    display: none;
  }
}
/* line 575, style.scss */
.section-1 .bs-box {
  background-color: #f8f8f8;
  height: 200px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 581, style.scss */
.section-1 .bs-img {
  float: left;
  width: 30%;
  height: 100%;
}
/* line 585, style.scss */
.section-1 .bs-img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 750px) {
  /* line 581, style.scss */
  .section-1 .bs-img {
    display: none;
  }
}
/* line 593, style.scss */
.section-1 .bs-text {
  float: left;
  width: 70%;
  height: 100%;
  overflow: hidden;
}
/* line 598, style.scss */
.section-1 .bs-text .bs-text-inner {
  margin: 15px 25px;
}
/* line 600, style.scss */
.section-1 .bs-text .bs-text-inner h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}
/* line 605, style.scss */
.section-1 .bs-text .bs-text-inner p {
  text-indent: 0;
  line-height: 1.75;
}
/* line 609, style.scss */
.section-1 .bs-text .bs-text-inner i {
  color: #999;
}
/* line 612, style.scss */
.section-1 .bs-text .bs-text-inner strong {
  font-weight: 500;
  color: #3b95d3;
}
@media screen and (max-width: 750px) {
  /* line 593, style.scss */
  .section-1 .bs-text {
    width: 100%;
  }
}
/* line 621, style.scss */
.section-1 .time-wraper {
  position: relative;
  margin: 30px auto 0;
  width: 90%;
  height: 60px;
  border-top: 2px solid #888;
}
/* line 627, style.scss */
.section-1 .time-wraper .time-node {
  position: absolute;
  top: 16px;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  -moz-border-radius: 5% 50% 50% 50%;
  -webkit-border-radius: 5%;
  border-radius: 5% 50% 50% 50%;
  text-align: center;
  line-height: 40px;
  font-weight: 400;
  text-indent: 0;
  cursor: pointer;
  color: #555;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 642, style.scss */
.section-1 .time-wraper .time-node:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  height: 8px;
  width: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #999;
}
/* line 653, style.scss */
.section-1 .time-wraper .first {
  left: 7.5%;
}
/* line 656, style.scss */
.section-1 .time-wraper .second {
  left: 50%;
}
/* line 659, style.scss */
.section-1 .time-wraper .third {
  right: 7.5%;
}
/* line 662, style.scss */
.section-1 .time-wraper .now {
  color: #fff;
  background: #3b95d3;
}
/* line 665, style.scss */
.section-1 .time-wraper .now:before {
  background: #3b95d3;
}

/* 部门介绍 */
/* line 673, style.scss */
.section-2 {
  background-color: #f8f8f8;
}
/* line 676, style.scss */
.section-2 .bm-box ul {
  padding: 0 2px;
  width: 964px;
  height: 254px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  /* line 676, style.scss */
  .section-2 .bm-box ul {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  /* line 676, style.scss */
  .section-2 .bm-box ul {
    height: auto;
    padding: 2px;
  }
}
/* line 689, style.scss */
.section-2 .bm-box li {
  background: #fdfdfd;
  position: relative;
  width: 158px;
  height: 250px;
  float: left;
  display: inline;
  overflow: hidden;
  border: solid 2px #ebebeb;
  margin-left: -2px;
}
@media screen and (max-width: 1000px) {
  /* line 689, style.scss */
  .section-2 .bm-box li {
    width: 19.7%;
  }
}
@media screen and (max-width: 750px) {
  /* line 689, style.scss */
  .section-2 .bm-box li {
    width: 100%;
    margin-top: -2px;
  }
}
/* line 706, style.scss */
.section-2 .bm-box li.on {
  z-index: 1;
  background: #fff;
  width: 318px;
  border: solid 2px #ddd;
}
@media screen and (max-width: 1000px) {
  /* line 706, style.scss */
  .section-2 .bm-box li.on {
    width: 19.7%;
  }
}
@media screen and (max-width: 750px) {
  /* line 706, style.scss */
  .section-2 .bm-box li.on {
    width: 100%;
  }
}
/* line 721, style.scss */
.section-2 .bm-item .item-inner {
  width: 318px;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  /* line 721, style.scss */
  .section-2 .bm-item .item-inner {
    width: 100%;
  }
}
/* line 728, style.scss */
.section-2 .bm-item .item-main {
  position: relative;
  float: left;
  height: 100%;
  width: 158px;
  text-align: center;
  overflow: hidden;
  border-right: 1px solid #eee;
}
@media screen and (max-width: 1000px) {
  /* line 728, style.scss */
  .section-2 .bm-item .item-main {
    width: 50%;
  }
}
/* line 739, style.scss */
.section-2 .bm-item .item-main .item-main-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -40px;
  margin-left: -60px;
  background-image: url("../img/bm.png");
  background-repeat: no-repeat;
}
/* line 750, style.scss */
.section-2 .bm-item .item-main h2 {
  margin: 20px auto;
  color: #444;
  font-size: 20px;
  font-weight: 400;
}
/* line 759, style.scss */
.section-2 .bm-item .item-detail {
  float: left;
  width: 160px;
  height: 100%;
  text-align: center;
  overflow: hidden;
  margin-left: -1px;
  font-size: 14px;
}
@media screen and (max-width: 1000px) {
  /* line 759, style.scss */
  .section-2 .bm-item .item-detail {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  /* line 759, style.scss */
  .section-2 .bm-item .item-detail {
    display: block;
    width: 50%;
  }
}
/* line 776, style.scss */
.section-2 .bm-item .item-detail .detail-top {
  padding: 15px 10px;
}
/* line 778, style.scss */
.section-2 .bm-item .item-detail .detail-top h3 {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  color: #666;
  border: 1px solid #adadad;
  padding: 0 8px;
  margin-bottom: 8px;
}
/* line 791, style.scss */
.section-2 .bm-item .item-detail .detail-top p {
  text-indent: 1em;
  text-align: justify;
}
/* line 795, style.scss */
.section-2 .bm-item .item-detail .detail-top:nth-of-type(2) {
  border-top: 1px solid #eee;
}
/* line 800, style.scss */
.section-2 .bm-item:nth-of-type(1) .item-main-logo {
  background-position: 0 0;
}
/* line 803, style.scss */
.section-2 .bm-item:nth-of-type(2) .item-main-logo {
  background-position: -128px 0;
}
/* line 806, style.scss */
.section-2 .bm-item:nth-of-type(3) .item-main-logo {
  background-position: -246px 0;
}
/* line 809, style.scss */
.section-2 .bm-item:nth-of-type(4) .item-main-logo {
  background-position: -384px 0;
}
/* line 812, style.scss */
.section-2 .bm-item:nth-of-type(5) .item-main-logo {
  background-position: -512px 0;
}
/* line 816, style.scss */
.section-2 .bm-item.on:nth-of-type(1) .item-main-logo {
  background-position: 0 -128px;
}
/* line 819, style.scss */
.section-2 .bm-item.on:nth-of-type(2) .item-main-logo {
  background-position: -128px -128px;
}
/* line 822, style.scss */
.section-2 .bm-item.on:nth-of-type(3) .item-main-logo {
  background-position: -246px -128px;
}
/* line 825, style.scss */
.section-2 .bm-item.on:nth-of-type(4) .item-main-logo {
  background-position: -384px -128px;
}
/* line 828, style.scss */
.section-2 .bm-item.on:nth-of-type(5) .item-main-logo {
  background-position: -512px -128px;
}

/* 作品展示 */
/* line 836, style.scss */
.section-3 {
  background: #fefefe url("../img/section-bg.gif");
  /* 饼状图 */
  /* 按钮组 */
}
/* line 838, style.scss */
.section-3 .circle-wraper {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 500px;
}
@media screen and (max-width: 550px) {
  /* line 838, style.scss */
  .section-3 .circle-wraper {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 400px) {
  /* line 838, style.scss */
  .section-3 .circle-wraper {
    width: 250px;
    height: 250px;
  }
}
/* line 853, style.scss */
.section-3 .tip-zone {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0px 0px 15px #bbb;
  -webkit-box-shadow: 0px 0px 15px #bbb;
  box-shadow: 0px 0px 15px #bbb;
}
@media screen and (max-width: 550px) {
  /* line 853, style.scss */
  .section-3 .tip-zone {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 400px) {
  /* line 853, style.scss */
  .section-3 .tip-zone {
    width: 250px;
    height: 250px;
  }
}
/* line 871, style.scss */
.section-3 .part {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  clip: rect(0px, 500px, 500px, 250px);
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
@media screen and (max-width: 550px) {
  /* line 871, style.scss */
  .section-3 .part {
    clip: rect(0px, 350px, 350px, 175px);
  }
}
@media screen and (max-width: 400px) {
  /* line 871, style.scss */
  .section-3 .part {
    clip: rect(0px, 250px, 250px, 125px);
  }
}
/* line 884, style.scss */
.section-3 .part .bing {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  clip: rect(0px, 250px, 500px, 0px);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
@media screen and (max-width: 550px) {
  /* line 884, style.scss */
  .section-3 .part .bing {
    clip: rect(0px, 175px, 350px, 0px);
  }
}
@media screen and (max-width: 400px) {
  /* line 884, style.scss */
  .section-3 .part .bing {
    clip: rect(0px, 125px, 250px, 0px);
  }
}
/* line 899, style.scss */
.section-3 .part:nth-of-type(1) {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 901, style.scss */
.section-3 .part:nth-of-type(1) .bing {
  background: #79b7e1;
}
/* line 905, style.scss */
.section-3 .part:nth-of-type(2) {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 907, style.scss */
.section-3 .part:nth-of-type(2) .bing {
  background: #65acdc;
}
/* line 911, style.scss */
.section-3 .part:nth-of-type(3) {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
/* line 913, style.scss */
.section-3 .part:nth-of-type(3) .bing {
  background: #50a0d8;
}
/* line 917, style.scss */
.section-3 .part:nth-of-type(4) {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 919, style.scss */
.section-3 .part:nth-of-type(4) .bing {
  background: #3b95d3;
}
/* line 923, style.scss */
.section-3 .part:nth-of-type(5) {
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
/* line 925, style.scss */
.section-3 .part:nth-of-type(5) .bing {
  background: #2d89c8;
}
/* line 929, style.scss */
.section-3 .part:nth-of-type(6) {
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
/* line 931, style.scss */
.section-3 .part:nth-of-type(6) .bing {
  background: #236c9e;
}
/* line 937, style.scss */
.section-3 .pro-btn-group {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
/* line 946, style.scss */
.section-3 .pro-btn-group .pro-btn {
  position: absolute;
  float: left;
  height: 150px;
  width: 150px;
  margin-left: -75px;
  margin-top: -75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 150px;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  /* line 946, style.scss */
  .section-3 .pro-btn-group .pro-btn {
    font-size: 1.1rem;
  }
}
/* line 962, style.scss */
.section-3 .pro-btn-group .pro-btn:nth-of-type(1) {
  top: 22%;
  left: 34%;
}
/* line 966, style.scss */
.section-3 .pro-btn-group .pro-btn:nth-of-type(2) {
  top: 22%;
  left: 66%;
}
/* line 970, style.scss */
.section-3 .pro-btn-group .pro-btn:nth-of-type(3) {
  top: 50%;
  left: 18%;
}
/* line 974, style.scss */
.section-3 .pro-btn-group .pro-btn:nth-of-type(4) {
  top: 50%;
  left: 82%;
}
/* line 978, style.scss */
.section-3 .pro-btn-group .pro-btn:nth-of-type(5) {
  top: 78%;
  left: 34%;
}
/* line 982, style.scss */
.section-3 .pro-btn-group .pro-btn:nth-of-type(6) {
  top: 78%;
  left: 66%;
}
/* line 988, style.scss */
.section-3 .pro-detail {
  overflow: hidden;
  position: absolute;
  z-index: 3;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #f0f0f0;
  opacity: 0;
  -moz-transform: scale(0.5) rotate(-270deg);
  -ms-transform: scale(0.5) rotate(-270deg);
  -webkit-transform: scale(0.5) rotate(-270deg);
  transform: scale(0.5) rotate(-270deg);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1003, style.scss */
.section-3 .pro-detail.pro-detail-show {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 1;
  -moz-box-shadow: 0px 0px 20px #555;
  -webkit-box-shadow: 0px 0px 20px #555;
  box-shadow: 0px 0px 20px #555;
  -moz-transform: scale(0.9) rotate(0deg);
  -ms-transform: scale(0.9) rotate(0deg);
  -webkit-transform: scale(0.9) rotate(0deg);
  transform: scale(0.9) rotate(0deg);
}
/* line 1013, style.scss */
.section-3 .pro-detail .pro-close,
.section-3 .pro-detail .pro-prev,
.section-3 .pro-detail .pro-next {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  cursor: pointer;
}
/* line 1022, style.scss */
.section-3 .pro-detail .pro-close img,
.section-3 .pro-detail .pro-prev img,
.section-3 .pro-detail .pro-next img {
  width: 100%;
  height: 100%;
}
/* line 1027, style.scss */
.section-3 .pro-detail .pro-close {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 12%;
  right: 22%;
}
/* line 1034, style.scss */
.section-3 .pro-detail .pro-prev {
  left: 10px;
}
/* line 1037, style.scss */
.section-3 .pro-detail .pro-next {
  right: 10px;
}
/* line 1040, style.scss */
.section-3 .pro-detail .pro-list {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
}
/* line 1046, style.scss */
.section-3 .pro-detail .pro-list > li {
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 1051, style.scss */
.section-3 .pro-detail .pro-list > li.show-current-li {
  display: block;
}
/* line 1054, style.scss */
.section-3 .pro-detail .pro-list > li .index-img,
.section-3 .pro-detail .pro-list > li .index-intro {
  float: left;
  width: 45%;
  height: 100%;
}
/* line 1060, style.scss */
.section-3 .pro-detail .pro-list > li .index-img {
  margin-left: 5%;
  height: 100%;
}
/* line 1063, style.scss */
.section-3 .pro-detail .pro-list > li .index-img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 400px) {
  /* line 1060, style.scss */
  .section-3 .pro-detail .pro-list > li .index-img {
    display: none;
  }
}
/* line 1071, style.scss */
.section-3 .pro-detail .pro-list > li .index-intro {
  margin-right: 5%;
  text-align: center;
}
@media screen and (max-width: 400px) {
  /* line 1071, style.scss */
  .section-3 .pro-detail .pro-list > li .index-intro {
    margin-right: 0;
    width: 100%;
  }
}
/* line 1078, style.scss */
.section-3 .pro-detail .pro-list > li .index-intro h3 {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  height: 2.2rem;
  line-height: 2.2rem;
  border: 1px solid #666;
  padding: 0 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 400px) {
  /* line 1078, style.scss */
  .section-3 .pro-detail .pro-list > li .index-intro h3 {
    font-size: 1.1rem;
    height: 1.6rem;
    line-height: 1.6rem;
  }
}
/* line 1095, style.scss */
.section-3 .pro-detail .pro-list > li .index-intro p {
  text-indent: 0;
  font-size: 1.2rem;
}
/* line 1099, style.scss */
.section-3 .pro-detail .pro-list > li .index-intro a {
  display: block;
  font-size: 1.1rem;
  margin-top: 60%;
}
/* line 1104, style.scss */
.section-3 .pro-detail .pro-list > li .index-intro img {
  margin-top: 10%;
  width: 60%;
  height: 60%;
}
/* line 1110, style.scss */
.section-3 .pro-detail .pro-list > li.pro-more {
  text-align: center;
}
/* line 1112, style.scss */
.section-3 .pro-detail .pro-list > li.pro-more h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
/* line 1116, style.scss */
.section-3 .pro-detail .pro-list > li.pro-more ul li {
  font-size: 1.1rem;
}

/* 骨干团 */
/* line 1126, style.scss */
.section-4 {
  background-color: #fbfbfb;
  /* 动画结果阶段的class: */
}
/* line 1128, style.scss */
.section-4 .gg-box {
  background-color: #f2f2f2;
  border-top: 2px solid #a3cdea;
  padding: 25px;
  overflow: hidden;
}
/* line 1133, style.scss */
.section-4 .gg-box * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1136, style.scss */
.section-4 .gg-box li {
  display: inline-block;
  float: left;
  width: 14.2857%;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  /* line 1136, style.scss */
  .section-4 .gg-box li {
    margin-right: 0;
    width: 20%;
  }
}
@media screen and (max-width: 750px) {
  /* line 1136, style.scss */
  .section-4 .gg-box li {
    margin-right: 0;
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1136, style.scss */
  .section-4 .gg-box li {
    margin-right: 0;
    width: 33.333%;
  }
}
/* line 1154, style.scss */
.section-4 .gg-box li .item-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 1160, style.scss */
.section-4 .gg-box li .item-img {
  display: block;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 1166, style.scss */
.section-4 .gg-box li .item-detail {
  position: absolute;
  background: rgba(59, 149, 211, 0.6);
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 10px 15px;
  overflow: hidden;
  font-size: 14px;
}
@media screen and (max-width: 750px) {
  /* line 1166, style.scss */
  .section-4 .gg-box li .item-detail {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  /* line 1166, style.scss */
  .section-4 .gg-box li .item-detail {
    text-align: center;
  }
}
/* line 1181, style.scss */
.section-4 .gg-box li .item-detail.da-animate {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 1184, style.scss */
.section-4 .gg-box li .item-detail .gg-name {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 38px;
  border-bottom: 3px solid #fff;
  margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
  /* line 1184, style.scss */
  .section-4 .gg-box li .item-detail .gg-name {
    border-bottom: 2px solid #fff;
    margin-bottom: 0;
    line-height: 32px;
  }
}
/* line 1198, style.scss */
.section-4 .gg-box li .item-detail .gg-group {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.9em;
  line-height: 38px;
  float: right;
}
@media screen and (max-width: 600px) {
  /* line 1198, style.scss */
  .section-4 .gg-box li .item-detail .gg-group {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    line-height: 32px;
  }
}
/* line 1214, style.scss */
.section-4 .gg-box li .item-detail .gg-motto {
  text-indent: 0;
}
@media screen and (max-width: 600px) {
  /* line 1214, style.scss */
  .section-4 .gg-box li .item-detail .gg-motto {
    display: none;
  }
}
/* line 1223, style.scss */
.section-4 .da-slideFromTop {
  left: 0;
  top: -101%;
}
/* line 1227, style.scss */
.section-4 .da-slideFromBottom {
  left: 0;
  top: 101%;
}
/* line 1231, style.scss */
.section-4 .da-slideFromLeft {
  top: 0;
  left: -101%;
}
/* line 1235, style.scss */
.section-4 .da-slideFromRight {
  top: 0;
  left: 101%;
}
/* line 1240, style.scss */
.section-4 .da-slideTop {
  top: 0;
}
/* line 1243, style.scss */
.section-4 .da-slideLeft {
  left: 0;
}

/* 毕业去向 */
/* line 1249, style.scss */
.section-5 {
  background: #F8F8F8;
}
/* line 1251, style.scss */
.section-5 .card {
  position: relative;
  background: #fefefe;
  padding: 40px 20px;
  -moz-box-shadow: 0 0 15px #e2e2e2;
  -webkit-box-shadow: 0 0 15px #e2e2e2;
  box-shadow: 0 0 15px #e2e2e2;
  overflow: hidden;
}
/* line 1257, style.scss */
.section-5 .card * {
  box-sizing: border-box;
}
/* line 1260, style.scss */
.section-5 .card .card-border {
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 50%;
  width: 0;
  border-left: 1px dashed #ddd;
}
@media screen and (max-width: 750px) {
  /* line 1260, style.scss */
  .section-5 .card .card-border {
    display: none;
  }
}
/* line 1272, style.scss */
.section-5 .people-card {
  width: 50%;
  padding: 15px 30px;
}
@media screen and (max-width: 750px) {
  /* line 1272, style.scss */
  .section-5 .people-card {
    width: 100%;
  }
}
/* line 1278, style.scss */
.section-5 .people-card:nth-child(odd) {
  float: left;
}
/* line 1281, style.scss */
.section-5 .people-card:nth-child(even) {
  float: right;
}
/* line 1284, style.scss */
.section-5 .people-card h3 {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 15px;
}
/* line 1289, style.scss */
.section-5 .people-card h3 span {
  display: inline-block;
  color: #3b95d3;
  border: 1px solid #3b95d3;
  padding: 0 8px;
}
/* line 1296, style.scss */
.section-5 .people-card p {
  text-indent: 0;
  font-size: 1rem;
  line-height: 2rem;
  overflow: hidden;
}
/* line 1301, style.scss */
.section-5 .people-card p .people-name {
  float: left;
  display: inline-block;
  width: 6em;
}
/* line 1306, style.scss */
.section-5 .people-card p .company {
  float: left;
  font-size: 0.9rem;
}
/* line 1310, style.scss */
.section-5 .people-card p .direction {
  float: right;
  font-size: 0.7rem;
  color: #696969;
}

/* 加入我们 */
/* line 1320, style.scss */
.section-6 {
  background: #fefefe url("../img/section-bg.gif");
}
/* line 1322, style.scss */
.section-6 .join-us,
.section-6 .about-us {
  width: 42%;
  background: #fff;
  -moz-box-shadow: 0 0 15px #eaeaea;
  -webkit-box-shadow: 0 0 15px #eaeaea;
  box-shadow: 0 0 15px #eaeaea;
}
@media screen and (max-width: 750px) {
  /* line 1322, style.scss */
  .section-6 .join-us,
  .section-6 .about-us {
    width: 100%;
  }
}
/* line 1330, style.scss */
.section-6 .join-us .box-hd,
.section-6 .about-us .box-hd {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-left: 3px solid #3b95d3;
  color: #555;
}
/* line 1338, style.scss */
.section-6 .join-us .box-hd strong,
.section-6 .about-us .box-hd strong {
  color: #3b95d3;
}
/* line 1342, style.scss */
.section-6 .join-us .box-bd,
.section-6 .about-us .box-bd {
  padding: 20px 50px;
  height: 260px;
}
/* line 1347, style.scss */
.section-6 .join-us {
  float: left;
  margin-left: 5%;
}
@media screen and (max-width: 750px) {
  /* line 1347, style.scss */
  .section-6 .join-us {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
/* line 1355, style.scss */
.section-6 .about-us {
  float: right;
  margin-right: 5%;
}
@media screen and (max-width: 750px) {
  /* line 1355, style.scss */
  .section-6 .about-us {
    float: left;
    margin: 0;
  }
}
/* line 1364, style.scss */
.section-6 .join-us .input-group {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 12px;
}
/* line 1369, style.scss */
.section-6 .join-us .input-group.input-group-half {
  width: 50%;
}
/* line 1371, style.scss */
.section-6 .join-us .input-group.input-group-half input {
  width: 70%;
}
/* line 1375, style.scss */
.section-6 .join-us .input-group .label {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  padding: 0 3px;
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: #a0a0a0;
  background: transparent;
  cursor: text;
  pointer-events: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1391, style.scss */
.section-6 .join-us .input-group input {
  width: 85%;
  height: 16px;
  padding: 6px 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 14px;
  outline: none;
  color: #333;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 1401, style.scss */
.section-6 .join-us .input-group input:hover {
  border-color: #bbb;
}
/* line 1406, style.scss */
.section-6 .join-us .input-group.complete .label {
  font-size: 11px;
  top: -7px;
  left: 8px;
  background: #fff;
}
/* line 1412, style.scss */
.section-6 .join-us .input-group.complete input {
  border-color: #ccc;
}
/* line 1417, style.scss */
.section-6 .join-us .input-group.active .label {
  font-size: 11px;
  top: -7px;
  left: 8px;
  background: #fff;
  color: #50a0d8;
}
/* line 1424, style.scss */
.section-6 .join-us .input-group.active input {
  border-color: #50a0d8;
}
/* line 1428, style.scss */
.section-6 .join-us .input-group.select {
  position: relative;
  z-index: 1;
  float: left;
  display: block;
  width: 40%;
  max-width: 40%;
  height: 28px;
  border: 1px solid #ddd;
  background: #fff;
}
/* line 1438, style.scss */
.section-6 .join-us .input-group.select.active {
  border-color: #50a0d8;
}
/* line 1441, style.scss */
.section-6 .join-us .input-group.select .iconfont {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  line-height: 20px;
  color: #ccc;
  cursor: text;
  pointer-events: none;
}
/* line 1452, style.scss */
.section-6 .join-us .input-group.select select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 120%;
  max-width: 120%;
  min-width: 120%;
  height: 28px;
  margin: 0;
  border: 0;
  padding: 0 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 12px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  background: none;
  color: #333;
  outline: none;
  cursor: pointer;
}
/* line 1475, style.scss */
.section-6 .join-us .save {
  float: right;
  display: inline-block;
  margin: 0 8% 0 0;
  padding: 0 10px;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #3b95d3;
  background-color: #3b95d3;
  color: #fff;
  outline: none;
  cursor: pointer;
  background-image: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 1493, style.scss */
.section-6 .join-us .save:hover {
  border: 1px solid #2f8ed0;
  background-color: #2f8ed0;
}
/* line 1497, style.scss */
.section-6 .join-us .save:active {
  border: 1px solid #2c86c4;
  background-color: #2c86c4;
}
/* line 1504, style.scss */
.section-6 .about-us .box-bd {
  padding: 20px;
}
/* line 1507, style.scss */
.section-6 .about-us .code-list {
  height: 180px;
  padding-bottom: 13px;
  overflow: hidden;
}
/* line 1511, style.scss */
.section-6 .about-us .code-list li {
  float: left;
  width: 50%;
  text-align: center;
}
/* line 1515, style.scss */
.section-6 .about-us .code-list li img {
  display: block;
  width: 138px;
  height: 138px;
  margin: 0 auto;
}
/* line 1521, style.scss */
.section-6 .about-us .code-list li h3 {
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  color: #3b95d3;
}
/* line 1527, style.scss */
.section-6 .about-us .code-list li p {
  text-indent: 0;
  font-size: 11px;
  line-height: 14px;
  color: #999;
}
/* line 1535, style.scss */
.section-6 .about-us .info-list {
  width: 86%;
  height: 60px;
  margin: 0 auto;
  padding-top: 6px;
  border-top: 1px solid #f0f0f0;
}
/* line 1541, style.scss */
.section-6 .about-us .info-list li {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666;
  text-align: center;
  overflow: hidden;
}
/* line 1549, style.scss */
.section-6 .about-us .info-list .copyright {
  font-size: 11px;
  color: #aaa;
}
