/* Cong Min 于 2015.12.21 */

/* powered by sass&compass */
@import "compass/reset";
@import "compass/css3";

$color_text: #333;
$color_blues: #3b95d3;

@font-face {font-family: 'webfont';
    src: url('../font/webfont.eot'); /* IE9*/
    src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
/* iconfont */
@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1463904775'); /* IE9*/
    src: url('../font/iconfont.eot?t=1463904775#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1463904775') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1463904775') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1463904775#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-sort-desc:before { content: "\e600"; }
.icon-github:before { content: "\e601"; }
.icon-weibo:before { content: "\e602"; }
.icon-qzone:before { content: "\e603"; }

/* 滚动条 */
::-webkit-scrollbar{
    background-color: #F1F1F1;
    overflow: visible;
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    min-height: 15px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:vertical:hover{
    background-color: rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb:vertical:active{
    background-color: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-button{
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track{
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-corner{
    background: transparent;
}

html, body{
    width: 100%;
    height: 100%;
}
html{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
body{
    position: relative;
    font:{
        family: "Helvetica Neue", Helvetica, Aria, "Microsoft YaHei", sans-serif;
        size: 14px;
        weight: 300;
    }
    color: $color_text;
    line-height: 1.5;
    overflow-x: hidden;
    background: #222;
    &.slide{
        .header,
        .container{
            @include transform(translate3d(-300px, 0, 0));
        }
        .nav{
            .top{
                right: 300px;
                .menu-btn{
                    right: -60px;
                }
            }
            .menu{
                @include transform(translate3d(-300px, 0, 0));
            }
        }
        .nav.fixed{
            .menu-btn{
                right: -55px;
            }
        }
    }
}
a{
    color: $color_text;
    text-decoration: none;
    @include transition(all 0.3s ease-in-out);
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.willUp{
    position: relative;
    opacity: 0;
    @include transform(translate3d(0, 80px, 0));
    @include transition(all 1.5s cubic-bezier(.19, 1, .22, 1));
    &.up{
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}
.black-shadow{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: black;
    @include opacity(0.4);
}
.nav{
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    @include transition(all 0.4s ease-out);
}

.nav.fixed{
    height: 60px;
    .top{
        height: 60px;
        background: $color_blues;
        .logo{
            top: 10px;
            left: 5%;
            width: 40px;
            height: 40px;
            @include opacity(0.85);
            img{
                width: 40px;
                height: 40px;
            }
        }
        .menu-btn{
            display: none;
            top: 15px;
            @media screen and (max-width: 960px) {
                display: block;
            }
        }
    }
    .menu{
        @media screen and (min-width: 960px) {
            z-index: 1003;
            left: 0;
            right: 0;
            width: auto;
            height: 60px;
            text-align: left;
            background-color: transparent;
            color: #fff;
            ul{
                top: 0;
                left: 6%;
                padding-left: 80px;
                overflow: hidden;
                li{
                    float: left;
                    display: inline-block;
                    padding: 0 20px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 60px;
                    &:hover {
                        color: #fff;;
                    }
                }
            }
            .menu-footer{
                display: none;
            }
        }
    }
}
.top{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1003;
    width: 100%;
    height: 100px;
    @include transition(all 0.3s ease-out);
    .logo{
        float: left;
        position: fixed;
        top: 30px;
        left: 5%;
        cursor: pointer;
        width: 60px;
        height: 60px;
        @include opacity(0.8);
        @include transition(all 0.3s ease-in-out);
        &:hover{
            @include opacity(1);
        }
        img{
            width: 60px;
            height: 60px;
            @include transition(all 0.3s ease-in-out);
        }
    }
    .menu-btn{
        float: right;
        position: absolute;
        top: 38px;
        right: 4%;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background: url("../img/menu2close.png");
        @include background-size(auto 28px);
        background-repeat: no-repeat;
        background-position: 0 0;
        @include transition(right 0.6s ease, top 0.3s ease-in-out);
    }
}
.menu{
    position: fixed;
    z-index: 1002;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    text-align: center;
    @include transform(translate3d(0, 0, 0));
    @include transition(transform 0.3s ease-in-out);
    ul{
        position: relative;
        top: 25%;
        li{
            font-size: 1.3em;
            padding: 5px 20px;
            cursor: pointer;
            &:hover {
                color: $color_blues;;
            }
        }
    }
    .menu-footer{
        font-size: 0.8em;
        position: absolute;
        bottom: 2%;
        width: 100%;
        color: #888;
    }
}
/* header */
.header,
.container{
    @include transform(translate3d(0, 0, 0));
    @include transition(transform 0.3s ease-in-out);
}
.header{
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: center;
    background: #fff;
    .main-btns{
        cursor: pointer;
        position: absolute;
        z-index: 1;
        width: 30px;
        height: 30px;
        padding: 20px;
        img{
            width: 100%;
        }
    }
    .prev-btn, .next-btn{
        top: 50%;
        @include opacity(0.6);
        @include transition(all 0.3s ease-in-out);
        &:hover{
            @include opacity(1);
        }
    }
    .prev-btn{
        left: 15px;
    }
    .next-btn{
        right: 15px;
    }
    .down-btn{
        left: 50%;
        bottom: 50px;
        margin-left: -35px;
        @include opacity(0.6);
        @include transition(all 0.3s ease-in-out);
        &:hover{
            @include opacity(1);
        }
    }
    ul.header-list{
        position: absolute;
        z-index: 1;
        bottom: 2%;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        li{
            cursor: pointer;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 6px;
            @include border-radius(4px);
            background: #fff;
            &:hover{
                background: #ccc;
            }
            &.active{
                position: relative;
                top: 2px;
                width: 14px;
                height: 14px;
                background: url("../img/logo.png");
                @include background-size(cover);
            }
        }
    }
}
.main-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.particles{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.bb-item {
    .blues-video {
        display: none;
        position: absolute;
        padding: 2% 5%;
        z-index: 999;
        margin: 5% 15%;
        width: 60%;
        height: 70%;
        background: rgba(0, 0, 0, 0.6);
        .close-video {
            float: right;
            font-size: 2rem;
            color: #fff;
            cursor: pointer;
        }
        #player {
            width: 90%;
            height: 95%;
        }
    }
}
.box-item{
    position: absolute;
    z-index: 1;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .box-center{
        position: absolute;
        top: 23%;
        width: 100%;
        h1{
            font:{
                size: 9vmin;
                weight: 200;
            }
        }
        .box-btns{
            position: relative;
            z-index: 3;
            width: 100%;
            margin-top: 40px;
        }
        .box-btn{
            display: inline-block;
            font-size: 1.2em;
            padding: 0.4em 1em;
            margin: 0 20px;
            @include border-radius(3px);
            border: 1px solid #fff;
            color: #fff;
            &:hover{
                color: $color_blues;
                background-color: #fff;
            }
        }
    }
}
.box-1{
    background-color: $color_blues;
    .box-center{
        h1{
            font-family: "webfont", "Helvetica Neue", Helvetica, Aria, "Microsoft YaHei", sans-serif;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}
.box-2{
    background-image: url("../img/box-2-bg.png");
    @include background-size(cover);
}
.box-3{
    background-color: $color_blues;
}
/* //header */
/* container */
.container{
    width: 100%;
    background-color: #fff;
}
.bs-header{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    background-image: url("../img/bs-bg.jpg");
    @include background-size(cover);
    .content{
        position: absolute;
        top: 35%;
        width: 100%;
        margin: 0 auto;
        color: #fff;
        line-height: 1.25;
        h1{
            font:{
                size: 60px;
                weight: 200;
            }
            @media screen and (max-width: 750px) {
                font-size: 50px;
            }
        }
        h2{
            font:{
                size: 35px;
                weight: 100;
            }
            @media screen and (max-width: 750px) {
                font-size: 30px;
            }
        }
    }
    .icons{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        .icon{
            display: inline-block;
            color: #ddd;
            margin: 10px 5px;
            padding: 5px;
            .iconfont{
                font-size: 22px;
            }
            &:hover{
                color: #fff;
            }
        }
    }
}
.section{
    width: 100%;
    overflow: hidden;
    padding: 45px 0 75px;
    .content{
        width: 960px;
        margin: 0 auto;
        @media screen and (max-width: 1000px) {
            width: 750px;
        }
        @media screen and (max-width: 750px) {
            width: 90%;
        }
    }
    h1{
        margin-bottom: 30px;
        text-align: center;
        font:{
            size: 32px;
            weight: 300;
        }
        @media screen and (max-width: 750px) {
            font-size: 1.5rem;
            margin-bottom: 25px;
        }
    }
    p{
        text-indent: 2em;
    }
}

/* 发展历史 */
.section-1{
    background-color: #fefefe;
    .swiper-box{
        position: relative;
        width: 100%;
        @include border-radius(5px);
        @include box-shadow(0 0 10px #e2e2e2);
        .swiper-button-prev,
        .swiper-button-next {
            @include opacity(0.2);
            @include transition(all 0.3s ease-in-out);
            &:hover{
                @include opacity(0.6);
            }
        }
        .swiper-button-prev{
            left: -40px;
            @media screen and (max-width: 750px) {
                display: none;
            }
        }
        .swiper-button-next{
            right: -40px;
            @media screen and (max-width: 750px) {
                display: none;
            }
        }
    }
    .bs-box{
        background-color: #f8f8f8;
        box-shadow: 0 0 5px #e1e1e1;
        height: 200px;
        overflow: hidden;
        @include border-radius(5px);
    }
    .bs-img{
        float: left;
        width: 30%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 750px) {
            display: none;
        }
    }
    .bs-text{
        float: left;
        width: 70%;
        height: 100%;
        overflow: hidden;
        .bs-text-inner{
            margin: 15px 25px;
            h3{
                font-size: 20px;
                text-align: center;
                margin-bottom: 8px;
            }
            p{
                text-indent: 0;
                line-height: 1.75;
            }
            i{
                color: #999;
            }
            strong{
                font-weight: 500;
                color: $color_blues;
            }
        }
        @media screen and (max-width: 750px) {
            width: 100%;
        }
    }
    .time-wraper {
        position: relative;
        margin: 30px auto 0;
        width: 90%;
        height: 60px;
        border-top: 2px solid #888;
        .time-node {
            position: absolute;
            top: 16px;
            width: 40px;
            height: 40px;
            margin-left: -20px;
            @include border-radius(5% 50% 50% 50%);
            text-align: center;
            line-height: 40px;
            font-weight: 400;
            text-indent: 0;
            cursor: pointer;
            color: #555;
            @include transform(rotate(45deg));
            @include transition(all 0.3s ease-in-out);
            &:before{
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                height: 8px;
                width: 8px;
                @include border-radius(50%);
                background: #999;
            }
        }
        .first {
            left: 7.5%;
        }
        .second {
            left: 50%;
        }
        .third {
            right: 7.5%;
        }
        .now {
            color: #fff;
            background: $color_blues;
            &:before{
                background: $color_blues;
            }
        }
    }
}

/* 部门介绍 */
.section-2{
    background-color: #f8f8f8;
    .bm-box{
        ul{
            padding: 0 2px;
            width: 964px;
            height: 254px;
            overflow: hidden;
            @media screen and (max-width: 1000px) {
                width: 100%;
            }
            @media screen and (max-width: 750px) {
                height: auto;
                padding: 2px;
            }
        }
        li{
            background: #fdfdfd;
            position: relative;
            width: 158px;
            height: 250px;
            float: left;
            display: inline;
            overflow: hidden;
            border: solid 2px #ebebeb;
            margin-left: -2px;
            @media screen and (max-width: 1000px) {
                width: 19.7%;
            }
            @media screen and (max-width: 750px) {
                width: 100%;
                margin-top: -2px;
            }
            &.on{
                z-index: 1;
                background: #fff;
                width: 318px;
                border: solid 2px #ddd;
                @media screen and (max-width: 1000px) {
                    width: 19.7%;
                }
                @media screen and (max-width: 750px) {
                    width: 100%;
                }
            }
        }
    }
    .bm-item{
        .item-inner{
            width: 318px;
            height: 100%;
            @media screen and (max-width: 1000px) {
                width: 100%;
            }
        }
        .item-main{
            position: relative;
            float: left;
            height: 100%;
            width: 158px;
            text-align: center;
            overflow: hidden;
            border-right: 1px solid #eee;
            @media screen and (max-width: 1000px) {
                width: 50%;
            }
            .item-main-logo{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 120px;
                height: 120px;
                margin-top: -40px;
                margin-left: -60px;
                background-image: url("../img/bm.png");
                background-repeat: no-repeat;
            }
            h2{
                margin: 20px auto;
                color: #444;
                font:{
                    size: 20px;
                    weight: 400;
                }
            }
        }
        .item-detail{
            float: left;
            width: 160px;
            height: 100%;
            text-align: center;
            overflow: hidden;
            margin-left: -1px;
            font:{
                size: 14px;
            }
            @media screen and (max-width: 1000px) {
                display: none;
            }
            @media screen and (max-width: 750px) {
                display: block;
                width: 50%;
            }
            .detail-top{
                padding: 15px 10px;
                h3{
                    display: inline-block;
                    font:{
                        size: 14px;
                        weight: 300;
                    }
                    height: 20px;
                    line-height: 20px;
                    color: #666;
                    border: 1px solid #adadad;
                    padding: 0 8px;
                    margin-bottom: 8px;
                }
                p{
                    text-indent: 1em;
                    text-align: justify;
                }
                &:nth-of-type(2) {
                    border-top: 1px solid #eee;
                }
            }
        }
        &:nth-of-type(1) .item-main-logo {
            background-position: 0 0;
        }
        &:nth-of-type(2) .item-main-logo {
            background-position: -128px 0;
        }
        &:nth-of-type(3) .item-main-logo {
            background-position: -246px 0;
        }
        &:nth-of-type(4) .item-main-logo {
            background-position: -384px 0;
        }
        &:nth-of-type(5) .item-main-logo {
            background-position: -512px 0;
        }
        &.on{
            &:nth-of-type(1) .item-main-logo {
                background-position: 0 -128px;
            }
            &:nth-of-type(2) .item-main-logo {
                background-position: -128px -128px;
            }
            &:nth-of-type(3) .item-main-logo {
                background-position: -246px -128px;
            }
            &:nth-of-type(4) .item-main-logo {
                background-position: -384px -128px;
            }
            &:nth-of-type(5) .item-main-logo {
                background-position: -512px -128px;
            }
        }
    }
}

/* 作品展示 */
.section-3 {
    background: #fefefe url("../img/section-bg.gif");
    .circle-wraper {
        position: relative;
        margin: 0 auto;
        height: 500px;
        width: 500px;
        @media screen and (max-width: 550px) {
            width: 350px;
            height: 350px;
        }
        @media screen and (max-width: 400px) {
            width: 250px;
            height: 250px;
        }
    }
    /* 饼状图 */
    .tip-zone {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        width: 500px;
        height: 500px;
        overflow: hidden;
        @include border-radius(50%);
        @include box-shadow(0px 0px 15px #bbb);
        @media screen and (max-width: 550px) {
            width: 350px;
            height: 350px;
        }
        @media screen and (max-width: 400px) {
            width: 250px;
            height: 250px;
        }
    }
    .part {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        clip: rect(0px, 500px, 500px, 250px);
        @include transition(transform 1s ease-in-out);
        @media screen and (max-width: 550px) {
            clip: rect(0px, 350px, 350px, 175px);
        }
        @media screen and (max-width: 400px) {
            clip: rect(0px, 250px, 250px, 125px);
        }
        .bing {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            clip: rect(0px, 250px, 500px, 0px);
            @include border-radius(50%);
            @include transform(rotate(60deg));
            @media screen and (max-width: 550px) {
                clip: rect(0px, 175px, 350px, 0px);
            }
            @media screen and (max-width: 400px) {
                clip: rect(0px, 125px, 250px, 0px);
            }
        }
        &:nth-of-type(1) {
            @include transform(rotate(0deg));
            .bing {
                background: lighten($color_blues, 15%);
            }
        }
        &:nth-of-type(2) {
            @include transform(rotate(60deg));
            .bing {
                background: lighten($color_blues, 10%);
            }
        }
        &:nth-of-type(3) {
            @include transform(rotate(120deg));
            .bing {
                background: lighten($color_blues, 5%);
            }
        }
        &:nth-of-type(4) {
            @include transform(rotate(180deg));
            .bing {
                background: lighten($color_blues, 0%);
            }
        }
        &:nth-of-type(5) {
            @include transform(rotate(240deg));
            .bing {
                background: darken($color_blues, 5%);
            }
        }
        &:nth-of-type(6) {
            @include transform(rotate(300deg));
            .bing {
                background: darken($color_blues, 15%);
            }
        }
    }
    /* 按钮组 */
    .pro-btn-group {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include border-radius(50%);
        overflow: hidden;
        .pro-btn {
            position: absolute;
            float: left;
            height: 150px;
            width: 150px;
            margin-left: -75px;
            margin-top: -75px;
            @include border-radius(50%);
            line-height: 150px;
            font-size: 1.5rem;
            color: #fff;
            text-align: center;
            cursor: pointer;
            @media screen and (max-width: 400px) {
                font-size: 1.1rem;
            }
            &:nth-of-type(1) {
                top: 22%;
                left: 34%;
            }
            &:nth-of-type(2) {
                top: 22%;
                left: 66%;
            }
            &:nth-of-type(3) {
                top: 50%;
                left: 18%;
            }
            &:nth-of-type(4) {
                top: 50%;
                left: 82%;
            }
            &:nth-of-type(5) {
                top: 78%;
                left: 34%;
            }
            &:nth-of-type(6) {
                top: 78%;
                left: 66%;
            }
        }
    }
    .pro-detail {
        overflow: hidden;
        position: absolute;
        z-index: 3;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-top: -40px;
        margin-left: -40px;
        @include border-radius(50%);
        background: #f0f0f0;
        opacity: 0;
        @include transform(scale(0.5) rotate(-270deg));
        @include transition(all 0.3s ease-in-out);
        &.pro-detail-show {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            margin: 0;
            opacity: 1;
            @include box-shadow(0px 0px 20px #555);
            @include transform(scale(0.9) rotate(0deg));
        }
        .pro-close,
        .pro-prev,
        .pro-next {
            position: absolute;
            top: 50%;
            height: 40px;
            width: 40px;
            margin-top: -20px;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .pro-close {
            height: 30px;
            width: 30px;
            margin-top: -15px;
            top: 12%;
            right: 22%;
        }
        .pro-prev {
            left: 10px;
        }
        .pro-next {
            right: 10px;
        }
        .pro-list {
            position: absolute;
            top: 20%;
            left: 10%;
            width: 80%;
            height: 60%;
            & > li {
                display: none;
                height: 100%;
                width: 100%;
                overflow: hidden;
                &.show-current-li {
                    display: block;
                }
                .index-img,
                .index-intro {
                    float: left;
                    width: 45%;
                    height: 100%;
                }
                .index-img {
                    margin-left: 5%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    @media screen and (max-width: 400px) {
                        display: none;
                    }
                }
                .index-intro {
                    margin-right: 5%;
                    text-align: center;
                    @media screen and (max-width: 400px) {
                        margin-right: 0;
                        width: 100%;
                    }
                    h3 {
                        display: inline-block;
                        font: {
                            size: 1.6rem;
                            weight: 400;
                        }
                        height: 2.2rem;
                        line-height: 2.2rem;
                        border: 1px solid #666;
                        padding: 0 15px;
                        margin-bottom: 15px;
                        @media screen and (max-width: 400px) {
                            font-size: 1.1rem;
                            height: 1.6rem;
                            line-height: 1.6rem;
                        }
                    }
                    p {
                        text-indent: 0;
                        font-size: 1.2rem;
                    }
                    a {
                        display: block;
                        font-size: 1.1rem;
                        margin-top: 60%;
                    }
                    img {
                        margin-top: 10%;
                        width: 60%;
                        height: 60%;
                    }
                }
                &.pro-more {
                    text-align: center;
                    h3 {
                        font-size: 1.6rem;
                        margin-bottom: 15px;
                    }
                    ul li {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

/* 骨干团 */
.section-4{
    background-color: #fbfbfb;
    .gg-box{
        background-color: #f2f2f2;
        border-top: 2px solid lighten($color_blues, 25%);
        padding: 25px;
        overflow: hidden;
        *{
            @include box-sizing(border-box);
        }
        li{
            display: inline-block;
            float: left;
            width: 14.2857%;
            height: auto;
            overflow: hidden;
            @media screen and (max-width: 1000px) {
                margin-right: 0;
                width: 20%;
            }
            @media screen and (max-width: 750px) {
                margin-right: 0;
                width: 25%;
            }
            @media screen and (max-width: 600px) {
                margin-right: 0;
                width: 33.333%;
            }
            .item-inner{
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
            .item-img{
                display: block;
                width: 100%;
                height: 100%;
                @include opacity(0.9);
            }
            .item-detail{
                position: absolute;
                background: rgba(59, 149, 211, 0.6);
                width: 100%;
                height: 100%;
                color: #fff;
                padding: 10px 15px;
                overflow: hidden;
                font-size: 14px;
                @media screen and (max-width: 750px) {
                    font-size: 12px;
                }
                @media screen and (max-width: 600px) {
                    text-align: center;
                }
                &.da-animate {
                    @include transition(all 0.3s ease-out);
                }
                .gg-name{
                    font: {
                        size: 1.5em;
                        weight: 500;
                    }
                    line-height: 38px;
                    border-bottom: 3px solid #fff;
                    margin-bottom: 5px;
                    @media screen and (max-width: 600px) {
                        border-bottom: 2px solid #fff;
                        margin-bottom: 0;
                        line-height: 32px;
                    }
                }
                .gg-group{
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    font-size: 0.9em;
                    line-height: 38px;
                    float: right;
                    @media screen and (max-width: 600px) {
                        position: relative;
                        top: auto;
                        right: auto;
                        width: 100%;
                        line-height: 32px;
                    }
                }
                .gg-motto{
                    text-indent: 0;
                    @media screen and (max-width: 600px) {
                        display: none;
                    }
                }
            }
        }
    }
    .da-slideFromTop {
        left: 0;
        top: -101%;
    }
    .da-slideFromBottom {
        left: 0;
        top: 101%;
    }
    .da-slideFromLeft {
        top: 0;
        left: -101%;
    }
    .da-slideFromRight {
        top: 0;
        left: 101%;
    }
    /* 动画结果阶段的class: */
    .da-slideTop {
        top: 0;
    }
    .da-slideLeft{
        left: 0;
    }
}

/* 毕业去向 */
.section-5 {
    background: #F8F8F8;
    .card {
        position: relative;
        background: #fefefe;
        padding: 40px 20px;
        @include box-shadow(0 0 15px #e2e2e2);
        overflow: hidden;
        * {
            box-sizing: border-box;
        }
        .card-border{
            position: absolute;
            top: 70px;
            bottom: 70px;
            left: 50%;
            width: 0;
            border-left: 1px dashed #ddd;
            @media screen and (max-width: 750px) {
                display: none;
            }
        }
    }
    .people-card {
        width: 50%;
        padding: 15px 30px;
        @media screen and (max-width: 750px) {
            width: 100%;
        }
        &:nth-child(odd){
            float: left;
        }
        &:nth-child(even){
            float: right;
        }
        h3 {
            font-size: 1.1rem;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 15px;
            span {
                display: inline-block;
                color: $color_blues;
                border: 1px solid $color_blues;
                padding: 0 8px;
            }
        }
        p {
            text-indent: 0;
            font-size: 1rem;
            line-height: 2rem;
            overflow: hidden;
            .people-name{
                float: left;
                display: inline-block;
                width: 6em;
            }
            .company{
                float: left;
                font-size: 0.9rem;
            }
            .direction {
                float: right;
                font-size: 0.7rem;
                color: #696969;
            }
        }
    }
}

/* 加入我们 */
.section-6 {
    background: #fefefe url("../img/section-bg.gif");
    .join-us,
    .about-us {
        width: 42%;
        background: #fff;
        @include box-shadow(0 0 15px #eaeaea);
        @media screen and (max-width: 750px) {
            width: 100%;
        }
        .box-hd {
            padding: 10px 15px;
            font: {
                size: 16px;
                weight: bold;
            }
            border-left: 3px solid $color_blues;
            color: #555;
            strong{
                color: $color_blues;
            }
        }
        .box-bd{
            padding: 20px 50px;
            height: 260px;
        }
    }
    .join-us {
        float: left;
        margin-left: 5%;
        @media screen and (max-width: 750px) {
            margin-left: 0;
            margin-bottom: 30px;
        }
    }
    .about-us {
        float: right;
        margin-right: 5%;
        @media screen and (max-width: 750px) {
            float: left;
            margin: 0;
        }
    }
    .join-us {
        .input-group {
            position: relative;
            float: left;
            width: 100%;
            margin-bottom: 12px;
            &.input-group-half{
                width: 50%;
                input {
                    width: 70%;
                }
            }
            .label {
                position: absolute;
                top: 8px;
                left: 8px;
                z-index: 2;
                padding: 0 3px;
                margin: 0;
                font-size: 12px;
                font-weight: 300;
                line-height: 14px;
                color: #a0a0a0;
                background: transparent;
                cursor: text;
                pointer-events: none;
                @include transition(all .3s ease-in-out);
            }
            input {
                width: 85%;
                height: 16px;
                padding: 6px 10px;
                border: 1px solid #ddd;
                font-size: 12px;
                line-height: 14px;
                outline: none;
                color: #333;
                @include transition(all .3s ease-in-out);
                &:hover{
                    border-color: #bbb;
                }
            }
            &.complete{
                .label {
                    font-size: 11px;
                    top: -7px;
                    left: 8px;
                    background: #fff;
                }
                input {
                    border-color: #ccc;
                }
            }
            &.active{
                .label {
                    font-size: 11px;
                    top: -7px;
                    left: 8px;
                    background: #fff;
                    color: lighten($color_blues, 5%);
                }
                input {
                    border-color: lighten($color_blues, 5%);
                }
            }
            &.select{
                position: relative;
                z-index: 1;
                float: left;
                display: block;
                width: 40%;
                max-width: 40%;
                height: 28px;
                border: 1px solid #ddd;
                background: #fff;
                &.active{
                    border-color: lighten($color_blues, 5%);
                }
                .iconfont{
                    position: absolute;
                    top: 2px;
                    right: 8px;
                    z-index: 2;
                    font-size: 12px;
                    line-height: 20px;
                    color: #ccc;
                    cursor: text;
                    pointer-events: none;
                }
                select{
                    @include box-sizing(border-box);
                    width: 120%;
                    max-width: 120%;
                    min-width: 120%;
                    height: 28px;
                    margin: 0;
                    border: 0;
                    padding: 0 10px;
                    @include appearance(none);
                    font-size: 12px;
                    line-height: 30px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    vertical-align: middle;
                    background: none;
                    color: #333;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
        .save{
            float: right;
            display: inline-block;
            margin: 0 8% 0 0;
            padding: 0 10px;
            font-size: 12px;
            line-height: 28px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border: 1px solid $color_blues;
            background-color: $color_blues;
            color: #fff;
            outline: none;
            cursor: pointer;
            background-image: none;
            @include border-radius(0);
            @include user-select(none);
            &:hover{
                border: 1px solid darken($color_blues, 3%);
                background-color: darken($color_blues, 3%);
            }
            &:active{
                border: 1px solid darken($color_blues, 6%);
                background-color: darken($color_blues, 6%);
            }
        }
    }
    .about-us{
        .box-bd{
            padding: 20px;
        }
        .code-list{
            height: 180px;
            padding-bottom: 13px;
            overflow: hidden;
            li{
                float: left;
                width: 50%;
                text-align: center;
                img{
                    display: block;
                    width: 138px;
                    height: 138px;
                    margin: 0 auto;
                }
                h3{
                    font-size: 13px;
                    line-height: 28px;
                    font-weight: 500;
                    color: $color_blues;
                }
                p{
                    text-indent: 0;
                    font-size: 11px;
                    line-height: 14px;
                    color: #999;
                }
            }
        }
        .info-list{
            width: 86%;
            height: 60px;
            margin: 0 auto;
            padding-top: 6px;
            border-top: 1px solid #f0f0f0;
            li{
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                color: #666;
                text-align: center;
                overflow: hidden;
            }
            .copyright{
                font-size: 11px;
                color: #aaa;
            }
        }
    }
}