@charset "UTF-8";
/* Cong Min 于 2015.12.21 */
/* powered by sass&compass */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'webfont';
  src: url("../font/webfont.eot");
  /* IE9*/
  src: url("../font/webfont.eot?#iefix") format("embedded-opentype"), url("../font/webfont.woff") format("woff"), url("../font/webfont.ttf") format("truetype"), url("../font/webfont.svg#webfont") format("svg");
  /* iOS 4.1- */
}
/* 滚动条 */
/* line 19, style.scss */
::-webkit-scrollbar {
  background-color: #F1F1F1;
  overflow: visible;
  width: 3px;
  height: 3px;
}

/* line 25, style.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  min-height: 15px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 31, style.scss */
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 34, style.scss */
::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 37, style.scss */
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* line 41, style.scss */
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

/* line 46, style.scss */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* 悬停导航慢摇 */
@keyframes shake-slow {
  0% {
    -moz-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  2% {
    -moz-transform: translate(-6px, -8px);
    -webkit-transform: translate(-6px, -8px);
    transform: translate(-6px, -8px);
  }
  4% {
    -moz-transform: translate(3px, -9px);
    -webkit-transform: translate(3px, -9px);
    transform: translate(3px, -9px);
  }
  6% {
    -moz-transform: translate(3px, -8px);
    -webkit-transform: translate(3px, -8px);
    transform: translate(3px, -8px);
  }
  8% {
    -moz-transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
  }
  10% {
    -moz-transform: translate(3px, 2px);
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  12% {
    -moz-transform: translate(8px, 0px);
    -webkit-transform: translate(8px, 0px);
    transform: translate(8px, 0px);
  }
  14% {
    -moz-transform: translate(4px, 7px);
    -webkit-transform: translate(4px, 7px);
    transform: translate(4px, 7px);
  }
  16% {
    -moz-transform: translate(-4px, 0px);
    -webkit-transform: translate(-4px, 0px);
    transform: translate(-4px, 0px);
  }
  18% {
    -moz-transform: translate(1px, 3px);
    -webkit-transform: translate(1px, 3px);
    transform: translate(1px, 3px);
  }
  20% {
    -moz-transform: translate(-8px, -1px);
    -webkit-transform: translate(-8px, -1px);
    transform: translate(-8px, -1px);
  }
  22% {
    -moz-transform: translate(5px, 9px);
    -webkit-transform: translate(5px, 9px);
    transform: translate(5px, 9px);
  }
  24% {
    -moz-transform: translate(-9px, -10px);
    -webkit-transform: translate(-9px, -10px);
    transform: translate(-9px, -10px);
  }
  26% {
    -moz-transform: translate(0px, 7px);
    -webkit-transform: translate(0px, 7px);
    transform: translate(0px, 7px);
  }
  28% {
    -moz-transform: translate(-10px, 7px);
    -webkit-transform: translate(-10px, 7px);
    transform: translate(-10px, 7px);
  }
  30% {
    -moz-transform: translate(8px, -7px);
    -webkit-transform: translate(8px, -7px);
    transform: translate(8px, -7px);
  }
  32% {
    -moz-transform: translate(0px, -8px);
    -webkit-transform: translate(0px, -8px);
    transform: translate(0px, -8px);
  }
  34% {
    -moz-transform: translate(9px, 7px);
    -webkit-transform: translate(9px, 7px);
    transform: translate(9px, 7px);
  }
  36% {
    -moz-transform: translate(-7px, 6px);
    -webkit-transform: translate(-7px, 6px);
    transform: translate(-7px, 6px);
  }
  38% {
    -moz-transform: translate(8px, -10px);
    -webkit-transform: translate(8px, -10px);
    transform: translate(8px, -10px);
  }
  40% {
    -moz-transform: translate(8px, 0px);
    -webkit-transform: translate(8px, 0px);
    transform: translate(8px, 0px);
  }
  42% {
    -moz-transform: translate(0px, -2px);
    -webkit-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
  }
  44% {
    -moz-transform: translate(5px, -2px);
    -webkit-transform: translate(5px, -2px);
    transform: translate(5px, -2px);
  }
  46% {
    -moz-transform: translate(1px, -10px);
    -webkit-transform: translate(1px, -10px);
    transform: translate(1px, -10px);
  }
  48% {
    -moz-transform: translate(4px, -1px);
    -webkit-transform: translate(4px, -1px);
    transform: translate(4px, -1px);
  }
  50% {
    -moz-transform: translate(-5px, -4px);
    -webkit-transform: translate(-5px, -4px);
    transform: translate(-5px, -4px);
  }
  52% {
    -moz-transform: translate(3px, 2px);
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  54% {
    -moz-transform: translate(1px, -6px);
    -webkit-transform: translate(1px, -6px);
    transform: translate(1px, -6px);
  }
  56% {
    -moz-transform: translate(-3px, -4px);
    -webkit-transform: translate(-3px, -4px);
    transform: translate(-3px, -4px);
  }
  58% {
    -moz-transform: translate(-10px, -10px);
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  60% {
    -moz-transform: translate(8px, 7px);
    -webkit-transform: translate(8px, 7px);
    transform: translate(8px, 7px);
  }
  62% {
    -moz-transform: translate(9px, -6px);
    -webkit-transform: translate(9px, -6px);
    transform: translate(9px, -6px);
  }
  64% {
    -moz-transform: translate(-5px, 8px);
    -webkit-transform: translate(-5px, 8px);
    transform: translate(-5px, 8px);
  }
  66% {
    -moz-transform: translate(1px, -3px);
    -webkit-transform: translate(1px, -3px);
    transform: translate(1px, -3px);
  }
  68% {
    -moz-transform: translate(-6px, 9px);
    -webkit-transform: translate(-6px, 9px);
    transform: translate(-6px, 9px);
  }
  70% {
    -moz-transform: translate(-5px, 8px);
    -webkit-transform: translate(-5px, 8px);
    transform: translate(-5px, 8px);
  }
  72% {
    -moz-transform: translate(-10px, -2px);
    -webkit-transform: translate(-10px, -2px);
    transform: translate(-10px, -2px);
  }
  74% {
    -moz-transform: translate(0px, -4px);
    -webkit-transform: translate(0px, -4px);
    transform: translate(0px, -4px);
  }
  76% {
    -moz-transform: translate(3px, 2px);
    -webkit-transform: translate(3px, 2px);
    transform: translate(3px, 2px);
  }
  78% {
    -moz-transform: translate(-2px, 9px);
    -webkit-transform: translate(-2px, 9px);
    transform: translate(-2px, 9px);
  }
  80% {
    -moz-transform: translate(7px, 4px);
    -webkit-transform: translate(7px, 4px);
    transform: translate(7px, 4px);
  }
  82% {
    -moz-transform: translate(-1px, -4px);
    -webkit-transform: translate(-1px, -4px);
    transform: translate(-1px, -4px);
  }
  84% {
    -moz-transform: translate(3px, -6px);
    -webkit-transform: translate(3px, -6px);
    transform: translate(3px, -6px);
  }
  86% {
    -moz-transform: translate(7px, -8px);
    -webkit-transform: translate(7px, -8px);
    transform: translate(7px, -8px);
  }
  88% {
    -moz-transform: translate(4px, -9px);
    -webkit-transform: translate(4px, -9px);
    transform: translate(4px, -9px);
  }
  90% {
    -moz-transform: translate(1px, -6px);
    -webkit-transform: translate(1px, -6px);
    transform: translate(1px, -6px);
  }
  92% {
    -moz-transform: translate(-8px, -1px);
    -webkit-transform: translate(-8px, -1px);
    transform: translate(-8px, -1px);
  }
  94% {
    -moz-transform: translate(-4px, -1px);
    -webkit-transform: translate(-4px, -1px);
    transform: translate(-4px, -1px);
  }
  96% {
    -moz-transform: translate(-6px, 9px);
    -webkit-transform: translate(-6px, 9px);
    transform: translate(-6px, 9px);
  }
  98% {
    -moz-transform: translate(7px, 4px);
    -webkit-transform: translate(7px, 4px);
    transform: translate(7px, 4px);
  }
}
/* line 203, style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 207, style.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

/* line 211, style.scss */
body {
  position: relative;
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 223, style.scss */
body.slide {
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}
/* line 226, style.scss */
body.slide .nav .top .menu-btn {
  right: -70px;
}
/* line 231, style.scss */
body.slide .nav#fixed .menu-btn {
  right: -55px;
}

/* line 237, style.scss */
a {
  color: #333;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 242, style.scss */
.willUp {
  position: relative;
  opacity: 0;
  -moz-transform: translate3d(0, 80px, 0);
  -ms-transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 80px, 0);
  transform: translate3d(0, 80px, 0);
  -moz-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 247, style.scss */
.willUp.up {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 252, style.scss */
.black-shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 261, style.scss */
.nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

/* line 270, style.scss */
.nav#fixed {
  height: 60px;
}
/* line 272, style.scss */
.nav#fixed .top {
  height: 60px;
  background: #3b95d3;
}
/* line 275, style.scss */
.nav#fixed .top .logo {
  top: 10px;
  left: 4%;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
/* line 280, style.scss */
.nav#fixed .top .logo img {
  width: 40px;
  height: 40px;
}
/* line 285, style.scss */
.nav#fixed .top .menu-guide {
  left: 30%;
}
/* line 287, style.scss */
.nav#fixed .top .menu-guide li {
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-size: 1.15em;
}
/* line 292, style.scss */
.nav#fixed .top .menu-guide li:hover {
  animation: shake-slow 5s;
}
/* line 295, style.scss */
.nav#fixed .top .menu-guide li a {
  color: #fff;
}
/* line 300, style.scss */
.nav#fixed .top .menu-btn {
  top: 15px;
}

/* line 305, style.scss */
.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  width: 100%;
  height: 100px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 313, style.scss */
.top .logo {
  float: left;
  position: fixed;
  top: 30px;
  left: 5%;
  cursor: pointer;
  width: 30%;
  height: 60px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 325, style.scss */
.top .logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 328, style.scss */
.top .logo img {
  float: left;
  width: 60px;
  height: 60px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 335, style.scss */
.top .menu-guide {
  float: left;
  position: fixed;
  top: 10px;
  left: -1000px;
  width: 70%;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 342, style.scss */
.top .menu-guide ul li {
  display: inline-block;
  padding: 10px 2%;
  cursor: pointer;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
}
/* line 353, style.scss */
.top .menu-btn {
  float: right;
  position: absolute;
  top: 38px;
  right: 4%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background: url("../img/menu2close.png");
  -moz-background-size: auto 28px;
  -o-background-size: auto 28px;
  -webkit-background-size: auto 28px;
  background-size: auto 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-transition: right 0.6s ease, top 0.3s ease-in-out;
  -o-transition: right 0.6s ease, top 0.3s ease-in-out;
  -webkit-transition: right 0.6s ease, top 0.3s ease-in-out;
  transition: right 0.6s ease, top 0.3s ease-in-out;
}

/* line 368, style.scss */
.menu {
  position: fixed;
  z-index: 1002;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  -moz-transition: right 0.4s ease-out;
  -o-transition: right 0.4s ease-out;
  -webkit-transition: right 0.4s ease-out;
  transition: right 0.4s ease-out;
}
/* line 378, style.scss */
.menu ul {
  position: relative;
  top: 25%;
}
/* line 381, style.scss */
.menu ul li {
  font-size: 1.3em;
  padding: 5px 20px;
  cursor: pointer;
}
/* line 385, style.scss */
.menu ul li:hover {
  color: #3b95d3;
}
/* line 389, style.scss */
.menu ul li a:hover, .menu ul li a.active {
  color: #3b95d3;
}
/* line 395, style.scss */
.menu .menu-footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 2%;
  width: 100%;
  color: #888;
}

@media screen and (max-width: 850px) {
  /* line 405, style.scss */
  .nav#fixed .top .menu-guide {
    width: 90%;
    left: 10%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 615px) {
  /* line 414, style.scss */
  .nav#fixed .top .menu-guide {
    display: none;
  }
}
/* header */
/* line 420, style.scss */
.header {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  text-align: center;
}
/* line 428, style.scss */
.header .main-btns {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 20px;
}
/* line 435, style.scss */
.header .main-btns img {
  width: 100%;
}
/* line 439, style.scss */
.header .prev-btn, .header .next-btn {
  top: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 444, style.scss */
.header .prev-btn:hover, .header .next-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 448, style.scss */
.header .prev-btn {
  left: 15px;
}
/* line 451, style.scss */
.header .next-btn {
  right: 15px;
}
/* line 454, style.scss */
.header .down-btn {
  left: 50%;
  bottom: 50px;
  margin-left: -35px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 460, style.scss */
.header .down-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 464, style.scss */
.header ul.header-list {
  position: absolute;
  z-index: 1;
  bottom: 2%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 471, style.scss */
.header ul.header-list li {
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
}
/* line 479, style.scss */
.header ul.header-list li:hover {
  background: #ccc;
}
/* line 482, style.scss */
.header ul.header-list li.active {
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  background: url("../img/logo.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 493, style.scss */
.main-box {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 498, style.scss */
.particles {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* line 509, style.scss */
.bb-item .blues-video {
  display: none;
  position: absolute;
  padding: 2% 5%;
  z-index: 999;
  margin: 5% 15%;
  width: 60%;
  height: 70%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 518, style.scss */
.bb-item .blues-video .close-video {
  float: right;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
/* line 524, style.scss */
.bb-item .blues-video #player {
  width: 90%;
  height: 95%;
}

/* line 531, style.scss */
.box-item {
  position: absolute;
  z-index: 1;
  color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 538, style.scss */
.box-item .box-center {
  position: absolute;
  top: 23%;
  width: 100%;
}
/* line 542, style.scss */
.box-item .box-center h1 {
  font-size: 9vmin;
  font-weight: 200;
}
/* line 548, style.scss */
.box-item .box-center .box-btns {
  position: relative;
  z-index: 3;
  width: 100%;
  margin-top: 40px;
}
/* line 554, style.scss */
.box-item .box-center .box-btn {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.4em 1em;
  margin: 0 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;
}
/* line 562, style.scss */
.box-item .box-center .box-btn:hover {
  color: #3b95d3;
  background-color: #fff;
}

/* line 569, style.scss */
.box-1 {
  background-color: #3b95d3;
}
/* line 572, style.scss */
.box-1 .box-center h1 {
  font-family: "webfont", 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

/* line 578, style.scss */
.box-2 {
  background-image: url("../img/box-2-bg.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 582, style.scss */
.box-3, .box-4, .box-5 {
  background-color: #3b95d3;
}

/* //header */
/* container */
/* line 587, style.scss */
.container {
  width: 100%;
  height: 1000px;
}

/* line 591, style.scss */
.bs-header {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;
  background-image: url("../img/bs-bg.jpg");
  border-top: 1px solid #fff;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 600, style.scss */
.bs-header .content {
  position: absolute;
  top: 35%;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  line-height: 1.25;
}
/* line 607, style.scss */
.bs-header .content h1 {
  font-size: 60px;
  font-weight: 200;
}
/* line 613, style.scss */
.bs-header .content h2 {
  font-size: 35px;
  font-weight: 100;
}
/* line 620, style.scss */
.bs-header .icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 626, style.scss */
.bs-header .icons .icon {
  display: inline-block;
  color: #ddd;
  font-size: 22px;
  margin: 10px 5px;
  padding: 5px;
}
/* line 632, style.scss */
.bs-header .icons .icon:hover {
  color: #fff;
}

@media screen and (max-width: 420px) {
  /* line 641, style.scss */
  .bs-header .content h1 {
    font-size: 2.6rem;
  }
  /* line 644, style.scss */
  .bs-header .content p {
    font-size: 1.6rem;
  }
}
/* line 650, style.scss */
.section {
  width: 100%;
  overflow: hidden;
}
/* line 653, style.scss */
.section .content {
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  /* line 659, style.scss */
  .section .content {
    width: 800px;
  }
}
@media screen and (max-width: 750px) {
  /* line 664, style.scss */
  .section .content {
    width: 90%;
  }
}
/* line 668, style.scss */
.section h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}
/* line 676, style.scss */
.section p {
  text-indent: 2em;
}

/* line 680, style.scss */
.section-1 {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #fff;
}
/* line 684, style.scss */
.section-1 .swiper-pagination {
  bottom: -30px !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 688, style.scss */
.section-1 .swiper-button-next {
  background: url("../img/next.png") no-repeat;
}
/* line 691, style.scss */
.section-1 .swiper-button-prev {
  background: url("../img/prev.png") no-repeat;
}
/* line 694, style.scss */
.section-1 .time-wraper {
  position: relative;
  margin-top: 10px;
  height: 150px;
  width: 100%;
}
/* line 699, style.scss */
.section-1 .time-wraper div {
  position: absolute;
  border-radius: 50%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 703, style.scss */
.section-1 .time-wraper div p {
  text-align: center;
  line-height: 40px;
  text-indent: 0;
}
/* line 709, style.scss */
.section-1 .time-wraper .bg-wraper {
  position: absolute;
  top: 15%;
  height: 65%;
  width: 100%;
  background: url("../img/time-line.png") no-repeat;
  background-size: 100% 100%;
}
/* line 717, style.scss */
.section-1 .time-wraper .first {
  left: 7.5%;
  top: 10px;
}
/* line 721, style.scss */
.section-1 .time-wraper .second {
  left: 44%;
  bottom: 0;
}
/* line 725, style.scss */
.section-1 .time-wraper .third {
  right: 10.2%;
}
/* line 728, style.scss */
.section-1 .time-wraper .now {
  width: 40px;
  height: 40px;
  color: #fff;
  background: #3B95D3;
}

@media screen and (max-width: 420px) {
  /* line 739, style.scss */
  .section-1 .time-wraper .first {
    left: 4%;
  }
  /* line 742, style.scss */
  .section-1 .time-wraper .second {
    left: 40%;
  }
  /* line 745, style.scss */
  .section-1 .time-wraper .third {
    right: 6%;
  }
  /* line 749, style.scss */
  .section-1 .swiper-button-next {
    display: none;
  }
  /* line 752, style.scss */
  .section-1 .swiper-button-prev {
    display: none;
  }
}
/* line 757, style.scss */
.bs-box {
  background-color: #f8f8f8;
  box-shadow: 0 0 5px #e1e1e1;
  height: 200px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

/* line 764, style.scss */
.bs-img {
  float: left;
  width: 30%;
  height: 100%;
}
/* line 768, style.scss */
.bs-img img {
  width: 100%;
  height: 100%;
}

/* line 773, style.scss */
.bs-text {
  float: left;
  width: 70%;
  height: 100%;
  overflow: hidden;
}
/* line 778, style.scss */
.bs-text .bs-text-inner {
  margin: 15px 25px;
}
/* line 780, style.scss */
.bs-text .bs-text-inner h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}
/* line 785, style.scss */
.bs-text .bs-text-inner p {
  text-indent: 0;
  line-height: 1.75;
}
/* line 789, style.scss */
.bs-text .bs-text-inner i {
  color: #999;
}
/* line 792, style.scss */
.bs-text .bs-text-inner strong {
  font-weight: 500;
  color: #3b95d3;
}

/* line 798, style.scss */
.section-2 {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #f8f8f8;
}

/* line 804, style.scss */
.bm-box ul {
  padding: 0 2px;
  width: 964px;
  height: 260px;
  overflow: hidden;
}
/* line 811, style.scss */
.bm-box li {
  background: #fdfdfd;
  position: relative;
  width: 158px;
  height: 260px;
  float: left;
  display: inline;
  overflow: hidden;
  border: solid 2px #ebebeb;
  margin-left: -2px;
}
/* line 821, style.scss */
.bm-box li.on {
  z-index: 1;
  background: #fff;
  width: 318px;
  border: solid 2px #ddd;
}

/* line 831, style.scss */
.bm-item .item-inner {
  width: 318px;
  height: 100%;
}
/* line 837, style.scss */
.bm-item:nth-of-type(1) .depart-logo {
  background: url("../img/FE_blur.png") no-repeat;
}
/* line 841, style.scss */
.bm-item:nth-of-type(1):hover .depart-logo {
  background: url("../img/FE_focus.png");
  background-size: 100% 100%;
}
/* line 848, style.scss */
.bm-item:nth-of-type(2) .depart-logo {
  background: url("../img/BE_blur.png") no-repeat;
}
/* line 852, style.scss */
.bm-item:nth-of-type(2):hover .depart-logo {
  background: url("../img/BE_focus.png");
  background-size: 100% 100%;
}
/* line 859, style.scss */
.bm-item:nth-of-type(3) .depart-logo {
  background: url("../img/mobile_blur.png") no-repeat;
}
/* line 863, style.scss */
.bm-item:nth-of-type(3):hover .depart-logo {
  background: url("../img/mobile_focus.png");
  background-size: 100% 100%;
}
/* line 870, style.scss */
.bm-item:nth-of-type(4) .depart-logo {
  background: url("../img/design_blur.png") no-repeat;
}
/* line 874, style.scss */
.bm-item:nth-of-type(4):hover .depart-logo {
  background: url("../img/design_focus.png");
  background-size: 100% 100%;
}
/* line 881, style.scss */
.bm-item:nth-of-type(5) .depart-logo {
  background: url("../img/operation_blur.png") no-repeat;
}
/* line 885, style.scss */
.bm-item:nth-of-type(5):hover .depart-logo {
  background: url("../img/operation_focus.png") no-repeat;
  background-size: 100% 100%;
}
/* line 891, style.scss */
.bm-item .item-main {
  float: left;
  height: 100%;
  width: 158px;
  text-align: center;
  overflow: hidden;
  border-right: 1px solid #eee;
}
/* line 898, style.scss */
.bm-item .item-main h2 {
  margin: 15px auto;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
}
/* line 906, style.scss */
.bm-item .item-main .depart-logo {
  margin-top: 15%;
  margin-left: 22%;
  width: 73%;
  height: 52%;
  background-size: 100% 100%;
}
/* line 914, style.scss */
.bm-item .item-detail {
  float: left;
  width: 160px;
  height: 100%;
  text-align: center;
  overflow: hidden;
  margin-left: -1px;
  font-size: 14px;
}
/* line 924, style.scss */
.bm-item .item-detail .detail-top {
  padding: 5px;
  height: 50%;
  border-top: 1px solid #eee;
}

@media screen and (max-width: 800px) {
  /* line 934, style.scss */
  .bm-box ul {
    height: auto;
    width: 100%;
  }
  /* line 937, style.scss */
  .bm-box ul li {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 10px;
    width: 48%;
  }
  /* line 942, style.scss */
  .bm-box ul li.on {
    width: 48%;
  }

  /* line 949, style.scss */
  .bm-item .item-inner {
    width: 100%;
  }
  /* line 952, style.scss */
  .bm-item .item-main {
    width: 45%;
  }
  /* line 955, style.scss */
  .bm-item .item-detail {
    width: 55%;
  }
}
@media screen and (max-width: 420px) {
  /* line 962, style.scss */
  .bm-item .item-inner {
    width: 100%;
  }
  /* line 965, style.scss */
  .bm-item .item-main {
    width: 45%;
  }
  /* line 967, style.scss */
  .bm-item .item-main .depart-logo {
    margin-left: 10%;
    width: 75%;
  }
  /* line 972, style.scss */
  .bm-item .item-detail {
    width: 55%;
  }

  /* line 977, style.scss */
  .bm-box ul {
    height: auto;
    width: 100%;
  }
  /* line 980, style.scss */
  .bm-box ul li {
    margin-bottom: 10px;
    width: 100%;
  }
  /* line 983, style.scss */
  .bm-box ul li.on {
    width: 100%;
  }
}
/* 作品展示 */
/* line 992, style.scss */
.section-3 {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #fff;
}
/* line 996, style.scss */
.section-3 .circle-wraper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 600px;
  width: 600px;
}
/* line 1005, style.scss */
.section-3 .tip-zone {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  overflow: hidden;
}
/* line 1013, style.scss */
.section-3 .part {
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 600px;
  clip: rect(0px, 600px, 600px, 300px);
}
/* line 1020, style.scss */
.section-3 .bing {
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 600px;
  clip: rect(0px, 300px, 600px, 0px);
  border-radius: 300px;
}
/* line 1027, style.scss */
.section-3 .bing p {
  position: absolute;
  z-index: 999;
  margin-top: 300px;
  color: #fff;
}
/* line 1035, style.scss */
.section-3 .law .bing {
  background: #8CD0FF;
  transform: rotate(60deg);
}
/* line 1040, style.scss */
.section-3 .icy {
  transform: rotate(60deg);
}
/* line 1042, style.scss */
.section-3 .icy .bing {
  background: #68BFF6;
  transform: rotate(108deg);
}
/* line 1047, style.scss */
.section-3 .hk {
  transform: rotate(120deg);
}
/* line 1049, style.scss */
.section-3 .hk .bing {
  background: #64B6F0;
  transform: rotate(144deg);
}
/* line 1054, style.scss */
.section-3 .advanced {
  transform: rotate(180deg);
}
/* line 1056, style.scss */
.section-3 .advanced .bing {
  background: #3693D2;
  transform: rotate(144deg);
}
/* line 1061, style.scss */
.section-3 .international {
  transform: rotate(240deg);
}
/* line 1063, style.scss */
.section-3 .international .bing {
  background: #175583;
  transform: rotate(60deg);
}
/* line 1068, style.scss */
.section-3 .wechart {
  transform: rotate(300deg);
}
/* line 1070, style.scss */
.section-3 .wechart .bing {
  background: #0B3856;
  transform: rotate(60deg);
}
/* line 1076, style.scss */
.section-3 .circle {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 1085, style.scss */
.section-3 .pro-button {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  overflow: hidden;
}
/* line 1093, style.scss */
.section-3 .pro-button .college-wraper {
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 1097, style.scss */
.section-3 .pro-button .college-wraper div {
  position: absolute;
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
/* line 1106, style.scss */
.section-3 .pro-button .college-wraper div p {
  line-height: 200px;
  text-indent: 0;
  font-size: 2rem;
}
/* line 1112, style.scss */
.section-3 .pro-button .college-wraper div:nth-of-type(1) {
  left: 17%;
}
/* line 1115, style.scss */
.section-3 .pro-button .college-wraper div:nth-of-type(2) {
  right: 17%;
}
/* line 1118, style.scss */
.section-3 .pro-button .college-wraper div:nth-of-type(3) {
  top: 33%;
  left: 0;
}
/* line 1122, style.scss */
.section-3 .pro-button .college-wraper div:nth-of-type(4) {
  top: 33%;
  right: 0;
}
/* line 1126, style.scss */
.section-3 .pro-button .college-wraper div:nth-of-type(5) {
  top: 66%;
  left: 17%;
}
/* line 1130, style.scss */
.section-3 .pro-button .college-wraper div:nth-of-type(6) {
  top: 66%;
  right: 17%;
}
/* line 1139, style.scss */
.section-3 .pro-detail {
  overflow: hidden;
  position: absolute;
  z-index: 999;
  opacity: 0;
  height: 80px;
  width: 80px;
  left: 42%;
  top: 42%;
  transform: scale(0.5) rotate(-270deg);
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 1151, style.scss */
.section-3 .pro-detail .circle {
  background: #e3e3e3;
}
/* line 1154, style.scss */
.section-3 .pro-detail.pro-detail-show {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0.9) rotate(0);
  opacity: 1;
}
/* line 1162, style.scss */
.section-3 .pro-detail.next-pro-detail {
  transform: scale(1) rotate(720deg);
}
/* line 1165, style.scss */
.section-3 .pro-detail.prev-pro-detail {
  transform: scale(1) rotate(-720deg);
}
/* line 1168, style.scss */
.section-3 .pro-detail .circle {
  position: relative;
  overflow: hidden;
}
/* line 1171, style.scss */
.section-3 .pro-detail .circle span {
  position: absolute;
  top: 42%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
/* line 1177, style.scss */
.section-3 .pro-detail .circle span img {
  width: 100%;
  height: 100%;
}
/* line 1182, style.scss */
.section-3 .pro-detail .circle .prev {
  left: 10px;
}
/* line 1185, style.scss */
.section-3 .pro-detail .circle .next {
  right: 10px;
}
/* line 1188, style.scss */
.section-3 .pro-detail .circle .circle-close {
  position: absolute;
  top: 80px;
  right: 100px;
}
/* line 1193, style.scss */
.section-3 .pro-detail .circle ul {
  position: relative;
  top: 25%;
  left: 10%;
  width: 80%;
  height: 50%;
}
/* line 1199, style.scss */
.section-3 .pro-detail .circle ul li {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 1204, style.scss */
.section-3 .pro-detail .circle ul li.show-current-li {
  display: block;
}
/* line 1207, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 1211, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper div {
  float: left;
  margin-left: 5%;
  width: 45%;
  height: 100%;
}
/* line 1217, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper .index-img {
  height: 100%;
}
/* line 1219, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper .index-img img {
  width: 100%;
  height: 100%;
}
/* line 1224, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper .index-intro {
  text-align: center;
}
/* line 1226, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper .index-intro h3 {
  text-align: center;
  font-size: 1.6rem;
}
/* line 1230, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper .index-intro p {
  text-align: center;
  text-indent: 0;
  font-size: 1.3rem;
}
/* line 1236, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper .index-intro a {
  display: block;
  font-size: 1.1rem;
  margin-top: 60%;
}
/* line 1241, style.scss */
.section-3 .pro-detail .circle ul li .intro-wraper .index-intro img {
  margin-top: 10%;
  width: 60%;
  height: 60%;
}

@media screen and (max-width: 768px) {
  /* line 1257, style.scss */
  .section-3 .circle-wraper {
    width: 550px;
    height: 550px;
  }
  /* line 1261, style.scss */
  .section-3 .tip-zone {
    width: 550px;
    height: 550px;
  }
  /* line 1265, style.scss */
  .section-3 .part {
    width: 550px;
    height: 550px;
    clip: rect(0px, 550px, 550px, 275px);
  }
  /* line 1270, style.scss */
  .section-3 .bing {
    width: 550px;
    height: 550px;
    clip: rect(0px, 275px, 550px, 0px);
  }
  /* line 1275, style.scss */
  .section-3 .pro-button {
    width: 550px;
    height: 550px;
  }
  /* line 1279, style.scss */
  .section-3 .pro-button .college-wraper div {
    height: 150px;
    width: 150px;
  }
  /* line 1282, style.scss */
  .section-3 .pro-button .college-wraper div p {
    line-height: 150px;
    font-size: 1.5rem;
  }
  /* line 1291, style.scss */
  .section-3 .pro-detail .circle span {
    height: 40px;
    width: 40px;
  }
  /* line 1297, style.scss */
  .section-3 .pro-detail .circle ul li .intro-wraper .index-intro h3 {
    font-size: 1.3rem;
  }
  /* line 1300, style.scss */
  .section-3 .pro-detail .circle ul li .intro-wraper .index-intro p {
    font-size: 1rem;
  }
  /* line 1303, style.scss */
  .section-3 .pro-detail .circle ul li .intro-wraper .index-intro a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 615px) {
  /* line 1315, style.scss */
  .section-3 .circle-wraper {
    width: 280px;
    height: 280px;
  }
  /* line 1319, style.scss */
  .section-3 .tip-zone {
    width: 280px;
    height: 280px;
  }
  /* line 1323, style.scss */
  .section-3 .part {
    width: 280px;
    height: 280px;
    clip: rect(0px, 280px, 280px, 140px);
  }
  /* line 1328, style.scss */
  .section-3 .bing {
    width: 280px;
    height: 280px;
    clip: rect(0px, 140px, 280px, 0px);
  }
  /* line 1333, style.scss */
  .section-3 .pro-button {
    width: 280px;
    height: 280px;
  }
  /* line 1337, style.scss */
  .section-3 .pro-button .college-wraper div {
    height: 100px;
    width: 100px;
  }
  /* line 1340, style.scss */
  .section-3 .pro-button .college-wraper div p {
    line-height: 100px;
    font-size: 1rem;
  }
  /* line 1349, style.scss */
  .section-3 .pro-detail .circle .circle-close {
    top: 20px;
    right: 80px;
  }
  /* line 1353, style.scss */
  .section-3 .pro-detail .circle span {
    height: 30px;
    width: 30px;
  }
  /* line 1357, style.scss */
  .section-3 .pro-detail .circle ul {
    width: 70%;
    left: 15%;
  }
  /* line 1362, style.scss */
  .section-3 .pro-detail .circle ul li .intro-wraper .index-intro h3 {
    font-size: 1rem;
  }
  /* line 1365, style.scss */
  .section-3 .pro-detail .circle ul li .intro-wraper .index-intro p {
    font-size: 0.5rem;
  }
  /* line 1368, style.scss */
  .section-3 .pro-detail .circle ul li .intro-wraper .index-intro a {
    font-size: 0.8rem;
  }
}
/* line 1378, style.scss */
.section-4 {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #f8f8f8;
}

/* line 1383, style.scss */
.gg-box {
  background-color: #fff;
  box-shadow: 0 0 5px #e2e2e2;
  overflow: hidden;
  padding: 10px;
}
/* line 1388, style.scss */
.gg-box li {
  width: 15%;
  height: 140px;
  float: left;
  padding: 5px;
}
/* line 1393, style.scss */
.gg-box li .item-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 1399, style.scss */
.gg-box li .item-img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 1404, style.scss */
.gg-box li .item-detail {
  position: absolute;
  background: rgba(59, 149, 211, 0.6);
  width: 100%;
  height: 100%;
}
/* line 1409, style.scss */
.gg-box li .item-detail.da-animate {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 1412, style.scss */
.gg-box li .item-detail p {
  text-indent: 0;
  color: #fff;
  padding: 2% 5%;
  font-size: 14px;
}

@media screen and (max-width: 615px) {
  /* line 1423, style.scss */
  .gg-box li {
    width: 29%;
    height: 80px;
  }
}
/* line 1428, style.scss */
.da-slideFromTop {
  left: 0;
  top: -100%;
}

/* line 1432, style.scss */
.da-slideFromBottom {
  left: 0;
  top: 100%;
}

/* line 1436, style.scss */
.da-slideFromLeft {
  top: 0;
  left: -100%;
}

/* line 1440, style.scss */
.da-slideFromRight {
  top: 0;
  left: 100%;
}

/* 动画结果阶段的class: */
/* line 1445, style.scss */
.da-slideTop {
  top: 0;
}

/* line 1448, style.scss */
.da-slideLeft {
  left: 0;
}

/* sudan 2016.3.30 */
/* 加入我们 */
/* line 1454, style.scss */
.section-6 {
  padding: 35px 0;
  /* 报名表单 */
  /* 二维码 */
}
/* line 1456, style.scss */
.section-6 .content {
  padding: 3% 0;
  box-shadow: -3px -3px 8px #eee;
  background: #f8f8f8;
}
/* line 1461, style.scss */
.section-6 .information, .section-6 .two-dimesion-code {
  overflow: hidden;
  float: left;
  margin-left: 5%;
  width: 40%;
  background: #fff;
}
/* line 1466, style.scss */
.section-6 .information h2, .section-6 .two-dimesion-code h2 {
  padding: 10px 5%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  border-left: 3px solid #3b95d3;
}
/* line 1480, style.scss */
.section-6 .information form {
  padding-left: 5%;
}
/* line 1482, style.scss */
.section-6 .information form div {
  margin-bottom: 30px;
}
/* line 1484, style.scss */
.section-6 .information form div label {
  font-size: 14px;
}
/* line 1490, style.scss */
.section-6 .information form input[type="text"] {
  margin-left: 5%;
  width: 65%;
  outline: none;
  border: 0;
  border-bottom: 1px solid #eee;
}
/* line 1497, style.scss */
.section-6 .information form .tel-msg, .section-6 .information form .mail-msg {
  display: none;
}
/* line 1500, style.scss */
.section-6 .information form .save {
  text-align: center;
}
/* line 1502, style.scss */
.section-6 .information form .save input {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 5px 25px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #3b95d3;
  border: 0;
  font-size: 16px;
  color: #fff;
  background: #3b95d3;
}
/* line 1513, style.scss */
.section-6 .information form .save input:hover {
  background: #1a74b2;
}
/* line 1519, style.scss */
.section-6 .information form .stu-group select {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 5px 25px;
  margin-left: 5%;
  width: 60%;
  height: 30px;
  border: 1px solid #eee;
}
/* line 1532, style.scss */
.section-6 .code-wraper {
  float: left;
  width: 45%;
  margin-left: 5%;
  margin-top: 15%;
  text-align: center;
}
/* line 1538, style.scss */
.section-6 .code-wraper img {
  width: 70%;
  height: 50%;
}
/* line 1543, style.scss */
.section-6 .join-logo {
  margin-left: 50%;
  margin-top: 15%;
  width: 10%;
  height: 10%;
}

@media screen and (max-width: 615px) {
  /* line 1552, style.scss */
  .section-6 .information, .section-6 .two-dimesion-code {
    margin: 5%;
    width: 90%;
  }

  /* line 1557, style.scss */
  .section-6 .join-logo {
    margin-left: 45%;
    width: 15%;
    height: 10%;
  }
  /* line 1562, style.scss */
  .section-6 .two-dimesion-code {
    height: auto;
  }
}
/* 毕业去向 */
/* line 1570, style.scss */
.section-5 {
  margin-top: 35px;
  padding: 35px 0;
  background: #F8F8F8;
}
/* line 1574, style.scss */
.section-5 .content {
  overflow: hidden;
  background: #fff;
}
/* line 1578, style.scss */
.section-5 .card-left {
  float: left;
  overflow: hidden;
  margin-left: 5%;
  width: 100%;
}
/* line 1585, style.scss */
.section-5 .people-card {
  float: left;
  width: 45%;
  padding: 40px 20px;
}
/* line 1589, style.scss */
.section-5 .people-card h2 {
  font-size: 1.6rem;
}
/* line 1591, style.scss */
.section-5 .people-card h2 span {
  color: #3b95d3;
}
/* line 1595, style.scss */
.section-5 .people-card .company {
  overflow: hidden;
  margin-top: 30px;
  width: 60%;
}
/* line 1599, style.scss */
.section-5 .people-card .company p {
  font-size: 1rem;
}
/* line 1602, style.scss */
.section-5 .people-card .company .direction {
  float: right;
  font-size: 0.7rem;
  color: #696969;
}

@media screen and (max-width: 750px) {
  /* line 1612, style.scss */
  .section-5 .people-card {
    width: 40%;
  }
  /* line 1614, style.scss */
  .section-5 .people-card .company {
    width: 80%;
  }
  /* line 1616, style.scss */
  .section-5 .people-card .company p {
    text-indent: 1em;
  }
}
@media screen and (max-width: 615px) {
  /* line 1625, style.scss */
  .section-5 .people-card {
    width: 40%;
    padding: 40px 10px;
  }
  /* line 1628, style.scss */
  .section-5 .people-card h2 {
    font-size: 0.8rem;
  }
  /* line 1631, style.scss */
  .section-5 .people-card .company {
    width: 80%;
  }
  /* line 1633, style.scss */
  .section-5 .people-card .company p {
    font-size: 0.7rem;
    text-indent: 0em;
  }

  /* line 1641, style.scss */
  .section h1 {
    font-size: 1.5rem;
  }
}
