@charset "UTF-8";
/* powered by sass&compass */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'webfont';
  src: url("../font/webfont.eot");
  /* IE9*/
  src: url("../font/webfont.eot?#iefix") format("embedded-opentype"), url("../font/webfont.woff") format("woff"), url("../font/webfont.ttf") format("truetype"), url("../font/webfont.svg#webfont") format("svg");
  /* iOS 4.1- */
}
/* 滚动条 */
/* line 17, style.scss */
::-webkit-scrollbar {
  background-color: #F1F1F1;
  overflow: visible;
  width: 3px;
}

/* line 22, style.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  min-height: 15px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 28, style.scss */
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 31, style.scss */
::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 34, style.scss */
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* line 38, style.scss */
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

/* line 43, style.scss */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* line 47, style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 51, style.scss */
html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

/* line 55, style.scss */
body {
  position: relative;
  font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
  -moz-transition: right 0.4s ease-out;
  -o-transition: right 0.4s ease-out;
  -webkit-transition: right 0.4s ease-out;
  transition: right 0.4s ease-out;
}
/* line 66, style.scss */
body.slide {
  right: 300px;
}
/* line 68, style.scss */
body.slide .nav {
  right: 300px;
}
/* line 70, style.scss */
body.slide .nav .top {
  left: -300px;
}
/* line 72, style.scss */
body.slide .nav .top .logo {
  position: fixed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 75, style.scss */
body.slide .nav .top .logo h1 {
  width: 265px;
}
/* line 79, style.scss */
body.slide .nav .top .menu-btn {
  right: -60px;
}
/* line 83, style.scss */
body.slide .nav .menu {
  right: 0;
}

/* line 89, style.scss */
a {
  color: #333;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 94, style.scss */
.willUp {
  position: relative;
  opacity: 0;
  -moz-transform: translate3d(0, 80px, 0);
  -ms-transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 80px, 0);
  transform: translate3d(0, 80px, 0);
  -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 99, style.scss */
.willUp.up {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 104, style.scss */
.black-shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 113, style.scss */
.nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

/* line 122, style.scss */
.nav#fixed {
  height: 80px;
}
/* line 124, style.scss */
.nav#fixed .top {
  height: 80px;
  background: #3b95d3;
}
/* line 127, style.scss */
.nav#fixed .top .logo {
  top: 20px;
  left: 4%;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
}
/* line 132, style.scss */
.nav#fixed .top .logo img {
  width: 40px;
  height: 40px;
}
/* line 136, style.scss */
.nav#fixed .top .logo h1 {
  width: 265px;
  padding-left: 5px;
  line-height: 40px;
  font-size: 1.25em;
}
/* line 145, style.scss */
.nav#fixed .top .menu-btn {
  top: 30px;
}

/* line 150, style.scss */
.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  width: 100%;
  height: 100px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 158, style.scss */
.top .logo {
  float: left;
  position: fixed;
  top: 30px;
  left: 5%;
  cursor: pointer;
  width: 350px;
  height: 60px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 169, style.scss */
.top .logo:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 172, style.scss */
.top .logo img {
  float: left;
  width: 60px;
  height: 60px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 178, style.scss */
.top .logo h1 {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 10px;
  line-height: 60px;
  color: #fff;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-size: 1.5em;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
}
/* line 193, style.scss */
.top .menu-btn {
  float: right;
  position: absolute;
  top: 38px;
  right: 5%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background: url("../img/menu2close.png");
  -moz-background-size: auto 28px;
  -o-background-size: auto 28px;
  -webkit-background-size: auto 28px;
  background-size: auto 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-transition: right 0.6s ease;
  -o-transition: right 0.6s ease;
  -webkit-transition: right 0.6s ease;
  transition: right 0.6s ease;
}

/* line 208, style.scss */
.menu {
  position: fixed;
  z-index: 1002;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  -moz-transition: right 0.4s ease-out;
  -o-transition: right 0.4s ease-out;
  -webkit-transition: right 0.4s ease-out;
  transition: right 0.4s ease-out;
}
/* line 218, style.scss */
.menu ul {
  position: relative;
  top: 25%;
}
/* line 221, style.scss */
.menu ul li {
  font-size: 1.3em;
  padding: 5px 20px;
}
/* line 225, style.scss */
.menu ul li a:hover, .menu ul li a.active {
  color: #3b95d3;
}
/* line 231, style.scss */
.menu .menu-footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 2%;
  width: 100%;
  color: #888;
}

/* header */
/* line 240, style.scss */
.header {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  text-align: center;
}
/* line 248, style.scss */
.header .main-btns {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
}
/* line 254, style.scss */
.header .main-btns img {
  width: 100%;
  height: 100%;
}
/* line 259, style.scss */
.header .prev-btn, .header .next-btn {
  top: 50%;
  margin-top: -15px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 264, style.scss */
.header .prev-btn:hover, .header .next-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 268, style.scss */
.header .prev-btn {
  left: 25px;
}
/* line 271, style.scss */
.header .next-btn {
  right: 25px;
}
/* line 274, style.scss */
.header .down-btn {
  left: 50%;
  bottom: 60px;
  margin-left: -15px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 280, style.scss */
.header .down-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 284, style.scss */
.header ul.header-list {
  position: absolute;
  z-index: 1;
  bottom: 2%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 291, style.scss */
.header ul.header-list li {
  cursor: pointer;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
}
/* line 299, style.scss */
.header ul.header-list li:hover {
  background: #ccc;
}
/* line 302, style.scss */
.header ul.header-list li.active {
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  background: url("../img/logo.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 313, style.scss */
.main-box {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 318, style.scss */
.box-item {
  color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 323, style.scss */
.box-item .box-center {
  position: absolute;
  top: 23%;
  width: 100%;
}
/* line 327, style.scss */
.box-item .box-center h1 {
  font-size: 9vmin;
  font-weight: 200;
}
/* line 333, style.scss */
.box-item .box-center .box-btns {
  width: 100%;
  margin-top: 40px;
}
/* line 337, style.scss */
.box-item .box-center .box-btn {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.4em 1em;
  margin: 0 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #fff;
  color: #fff;
}
/* line 345, style.scss */
.box-item .box-center .box-btn:hover {
  color: #3b95d3;
  background-color: #fff;
}

/* line 352, style.scss */
.box-1 {
  background-color: #3b95d3;
}
/* line 355, style.scss */
.box-1 .box-center h1 {
  font-family: "webfont", 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

/* line 361, style.scss */
.box-2 {
  background-image: url("../img/box-2-bg.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 365, style.scss */
.box-3, .box-4, .box-5 {
  background-color: #3b95d3;
}

/* //header */
/* container */
/* line 370, style.scss */
.container {
  width: 100%;
  height: 1000px;
}
