/* Cong Min 于 2015.12.21 */

/* powered by sass&compass */
@import "compass/reset";
@import "compass/css3";

$color_text: #333;
$color_blues: #3b95d3;

@font-face {font-family: 'webfont';
    src: url('../font/webfont.eot'); /* IE9*/
    src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

/* 滚动条 */
::-webkit-scrollbar{
    background-color: #F1F1F1;
    overflow: visible;
    width: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    min-height: 15px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:vertical:hover{
    background-color: rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb:vertical:active{
    background-color: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-button{
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track{
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-corner{
    background: transparent;
}

/* 悬停导航慢摇 */
@keyframes shake-slow {
     0% {
         @include transform(translate(0px, 0px), rotate(0deg));
        }
     2% {
         @include transform(translate(-6px, -8px), rotate(2.5deg));
        }
     4% {
         @include transform(translate(3px, -9px), rotate(-0.5deg));
        }
     6% {
         @include transform(translate(3px, -8px), rotate(2.5deg));
        }
     8% {
         @include transform(translate(0px, 5px), rotate(0.5deg));
        }
     10% {        
         @include transform(translate(3px, 2px), rotate(0.5deg));
        }
     12% {
         @include transform(translate(8px, 0px), rotate(0.5deg));
        }
     14% {
         @include transform(translate(4px, 7px), rotate(-3.5deg));
        }
     16% {
         @include transform(translate(-4px, 0px), rotate(-0.5deg));
        }
     18% {
         @include transform(translate(1px, 3px), rotate(-1.5deg));
        }
     20% {
         @include transform(translate(-8px, -1px), rotate(-3.5deg));
        }
     22% {
         @include transform(translate(5px, 9px), rotate(2.5deg));
        }
     24% {
         @include transform(translate(-9px, -10px), rotate(-2.5deg));
        }
     26% {
         @include transform(translate(0px, 7px), rotate(-1.5deg));
        }
     28% {
         @include transform(translate(-10px, 7px), rotate(2.5deg));
        }
     30% {
        @include transform(translate(8px, -7px), rotate(-1.5deg));
        }
     32% {
         @include transform(translate(0px, -8px), rotate(-0.5deg));
        }
     34% {
         @include transform(translate(9px, 7px), rotate(-0.5deg));
        }
     36% {
         @include transform(translate(-7px, 6px), rotate(0.5deg));
        }
     38% {
         @include transform(translate(8px, -10px), rotate(-0.5deg));
        }
     40% {
         @include transform(translate(8px, 0px), rotate(0.5deg));
        }
     42% {
         @include transform(translate(0px, -2px), rotate(1.5deg));
        }
     44% {
         @include transform(translate(5px, -2px), rotate(-0.5deg));
        }
     46% {
         @include transform(translate(1px, -10px), rotate(-2.5deg));
        }
     48% {
         @include transform(translate(4px, -1px), rotate(2.5deg));
        }
     50% {
         @include transform(translate(-5px, -4px), rotate(2.5deg));
        }
     52% {
         @include transform(translate(3px, 2px), rotate(-3.5deg));
        }
     54% {
         @include transform(translate(1px, -6px), rotate(-0.5deg));
        }
     56% {
         @include transform(translate(-3px, -4px), rotate(-0.5deg));
        }
     58% {
         @include transform(translate(-10px, -10px), rotate(2.5deg));
        }
     60% {
         @include transform(translate(8px, 7px), rotate(-3.5deg));
        }
     62% {
         @include transform(translate(9px, -6px), rotate(-3.5deg));
        }
     64% {
         @include transform(translate(-5px, 8px), rotate(-0.5deg));
        }
     66% {
         @include transform(translate(1px, -3px), rotate(0.5deg));
        }
     68% {
         @include transform(translate(-6px, 9px), rotate(1.5deg));
        }
     70% {
         @include transform(translate(-5px, 8px), rotate(-1.5deg));
        }
     72% {
         @include transform(translate(-10px, -2px), rotate(2.5deg));
        }
     74% {
         @include transform(translate(0px, -4px), rotate(1.5deg));
        }
     76% {
         @include transform(translate(3px, 2px), rotate(0.5deg));
        }
     78% {
         @include transform(translate(-2px, 9px), rotate(-3.5deg));
        }
     80% {
         @include transform(translate(7px, 4px), rotate(-3.5deg));
        }
     82% {
         @include transform(translate(-1px, -4px), rotate(-1.5deg));
        }
     84% {
         @include transform(translate(3px, -6px), rotate(0.5deg));
        }
     86% {
         @include transform(translate(7px, -8px), rotate(-1.5deg));
        }
     88% {
         @include transform(translate(4px, -9px), rotate(1.5deg));
        }
     90% {
         @include transform(translate(1px, -6px), rotate(2.5deg));
        }
     92% {
         @include transform(translate(-8px, -1px), rotate(-1.5deg));
        }
     94% {
         @include transform(translate(-4px, -1px), rotate(0.5deg));
        }
     96% {
         @include transform(translate(-6px, 9px), rotate(1.5deg));
        }
     98% {
         @include transform(translate(7px, 4px), rotate(-0.5deg));        
        }
}
html, body{
    width: 100%;
    height: 100%;
}
html{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
body{
    position: relative;
    font:{
        family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
        size: 14px;
        weight: 300;
    }
    color: $color_text;
    line-height: 1.5;
    overflow-x: hidden;
    @include transition(right 0.4s ease-out);
    &.slide{
        right: 300px;
        .nav{
            right: 300px;
            .top{
                left: -300px;
                .logo{
                    position: fixed;
                    h1{
                        width: 265px;
                    }
                }
                .menu-btn{
                    right: -70px;
                }
            }
            .menu{
                right: 0;
            }
        }
        .nav#fixed{
            .menu-btn{
                right: -55px;
            }
        }
    }
}
a{
    color: $color_text;
    text-decoration: none;
    @include transition(all 0.3s ease-in-out);
}
.willUp{
    position: relative;
    opacity: 0;
    @include transform(translate3d(0, 80px, 0));
    @include transition(all 1.5s cubic-bezier(.19, 1, .22, 1));
    &.up{
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}
.black-shadow{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: black;
    @include opacity(0.4);
}
.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    @include transition(all 0.4s ease-out);
}
.nav#fixed{
    height: 60px;
    .top{
        height: 60px;
        background: $color_blues;
        .logo{
            top: 10px;
            left: 4%;
            height: 40px;
            @include opacity(0.85);
            img{
                width: 40px;
                height: 40px;
            }
            h1{
                width: 265px;
                padding-left: 5px;
                line-height: 40px;
                font:{
                    size: 1.15em;
                }
            }
        }
        .menu-guide {
            left: 30%;
            li {
                @include transition(all 0.4s ease-out);
                font: {
                    size: 1.15em;
                }
                &:hover {
                   animation: shake-slow 5s;
                }
            }
        }
        .menu-btn{
            top: 15px;
        }
    }
}
.top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1003;
    width: 100%;
    height: 100px;
    @include transition(all 0.4s ease-out);
    .logo{
        float: left;
        position: fixed;
        top: 30px;
        left: 5%;
        cursor: pointer;
        width: 350px;
        height: 60px;
        overflow: hidden;
        @include opacity(0.8);
        @include transition(all 0.4s ease-out);
        &:hover{
            @include opacity(1);
        }
        img{
            float: left;
            width: 60px;
            height: 60px;
            @include transition(all 0.4s ease-out);
        }
        h1{
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            padding-left: 10px;
            line-height: 60px;
            color: #fff;
            @include transition(all 0.4s ease-out);
            font:{
                size: 1.5em;
                weight: 400;
            }
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .menu-guide {
        float: left;
        position: fixed;
        top: 10px;
        left: -1000px;
        width: 60%;
        ul {            
            li {
                display: inline-block;
                padding: 10px 5%;
                color: #fff;
                cursor: pointer;
                -moz-osx-font-smoothing: grayscale;               
            }
        }
        @include transition(all 0.4s ease-out);
    }
    .menu-btn{
        float: right;
        position: absolute;
        top: 38px;
        right: 4%;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background: url("../img/menu2close.png");
        @include background-size(auto 28px);
        background-repeat: no-repeat;
        background-position: 0 0;
        @include transition(right 0.6s ease, top 0.3s ease-in-out);
    }
}
.menu{
    position: fixed;
    z-index: 1002;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    text-align: center;
    @include transition(right 0.4s ease-out);
    ul{
        position: relative;
        top: 25%;
        li{
            font-size: 1.3em;
            padding: 5px 20px;
            a{
                &:hover, &.active{
                    color: $color_blues;
                }
            }
        }
    }
    .menu-footer{
        font-size: 0.8em;
        position: absolute;
        bottom: 2%;
        width: 100%;
        color: #888;
    }
}
/* header */
.header{
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: center;
    .main-btns{
        cursor: pointer;
        position: absolute;
        z-index: 1;
        width: 30px;
        height: 30px;
        padding: 20px;
        img{
            width: 100%;
        }
    }
    .prev-btn, .next-btn{
        top: 50%;
        //margin-top: -35px;
        @include opacity(0.6);
        @include transition(all 0.3s ease-in-out);
        &:hover{
            @include opacity(1);
        }
    }
    .prev-btn{
        left: 15px;
    }
    .next-btn{
        right: 15px;
    }
    .down-btn{
        left: 50%;
        bottom: 50px;
        margin-left: -35px;
        @include opacity(0.6);
        @include transition(all 0.3s ease-in-out);
        &:hover{
            @include opacity(1);
        }
    }
    ul.header-list{
        position: absolute;
        z-index: 1;
        bottom: 2%;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        li{
            cursor: pointer;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 6px;
            @include border-radius(4px);
            background: #fff;
            &:hover{
                background: #ccc;
            }
            &.active{
                position: relative;
                top: 2px;
                width: 14px;
                height: 14px;
                background: url("../img/logo.png");
                @include background-size(cover);
            }
        }
    }
}
.main-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.particles{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.box-item{
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .box-center{
        position: absolute;
        top: 23%;
        width: 100%;
        h1{
            font:{
                size: 9vmin;
                weight: 200;
            }
        }
        .box-btns{
            position: relative;
            z-index: 3;
            width: 100%;
            margin-top: 40px;
        }
        .box-btn{
            display: inline-block;
            font-size: 1.2em;
            padding: 0.4em 1em;
            margin: 0 20px;
            @include border-radius(3px);
            border: 1px solid #fff;
            color: #fff;
            &:hover{
                color: $color_blues;
                background-color: #fff;
            }
        }
    }
}
.box-1{
    background-color: $color_blues;
    .box-center{
        h1{
            font-family: "webfont", 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}
.box-2{
    background-image: url("../img/box-2-bg.png");
    @include background-size(cover);
}
.box-3, .box-4, .box-5{
    background-color: $color_blues;
}
/* //header */
/* container */
.container{
    width: 100%;
    height: 1000px;
}
.bs-header{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    background-image: url("../img/bs-bg.jpg");
    border-top: 1px solid #fff;
    @include background-size(cover);
    .content{
        position: absolute;
        top: 35%;
        width: 100%;
        margin: 0 auto;
        color: #fff;
        line-height: 1.25;
        h1{
            font:{
                size: 60px;
                weight: 200;
            }
        }
        h2{
            font:{
                size: 35px;
                weight: 100;
            }
        }
    }
    .icons{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        .icon{
            display: inline-block;
            color: #ddd;
            font-size: 22px;
            margin: 10px 5px;
            padding: 5px;
            &:hover{
                color: #fff;
            }
        }
    }
}
.section{
    width: 100%;
    overflow: hidden;
    .content{
        width: 960px;
        margin: 0 auto;
    }
    @media screen and (min-width: 750px) and (max-width: 1000px) {
        .content{
            width: 800px;
        }
    }
    @media screen and (max-width: 750px) {
        .content{
            width: 90%;
        }
    }
    h1{
        margin-bottom: 20px;
        text-align: center;
        font:{
            size: 32px;
            weight: 300;
        }
    }
    p{
        text-indent: 2em;
    }
}
.section-1{
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: #fff;
    .swiper-pagination{
        bottom: -30px !important;
        @include opacity(0.5);
    }
    .swiper-button-prev{
        left: -50px !important;
        @include opacity(0.5);
    }
    .swiper-button-next{
        right: -50px !important;
        @include opacity(0.5);
    }
}
.bs-box{
    background-color: #f8f8f8;
    box-shadow: 0 0 5px #e1e1e1;
    height: 200px;
    @include border-radius(5px);
    overflow: hidden;
}
.bs-img{
    float: left;
    width: 30%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.bs-text{
    float: left;
    width: 70%;
    height: 100%;
    overflow: hidden;
    .bs-text-inner{
        margin: 15px 25px;
        h3{
            font-size: 20px;
            text-align: center;
            margin-bottom: 8px;
        }
        p{
            text-indent: 0;
            line-height: 1.75;
        }
        i{
            color: #999;
        }
        strong{
            font-weight: 500;
            color: $color_blues;
        }
    }
}
.section-2{
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: #f8f8f8;
}
.bm-box{
    ul{
        padding: 0 2px;
        width: 964px;
        height: 254px;
        overflow: hidden;
    }
    li{
        background: #fdfdfd;
        position: relative;
        width: 158px;
        height: 250px;
        float: left;
        display: inline;
        overflow: hidden;
        border: solid 2px #ebebeb;
        margin-left: -2px;
        &.on{
            z-index: 1;
            background: #fff;
            width: 318px;
            border: solid 2px #ddd;
        }
    }
}
.bm-item{
    .item-inner{
        width: 318px;
        height: 100%;
    }
    .item-main{
        float: left;
        height: 100%;
        width: 158px;
        text-align: center;
        overflow: hidden;
        border-right: 1px solid #eee;
        h2{
            margin: 15px auto;
            font:{
                size: 20px;
                weight: 300;
            }
        }
    }
    .item-detail{
        float: left;
        width: 160px;
        height: 100%;
        text-align: center;
        overflow: hidden;
        margin-left: -1px;
        font:{
            size: 14px;
        }
        .detail-top {
            height: 50%;
            border-bottom: 1px solid #eee;
        }
        .detail-bottom {
            height: 50%;
        }
    }
}
.section-3{
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: #fff;
}
.section-4{
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: #f8f8f8;
}
.gg-box{
    background-color: #fff;
    box-shadow: 0 0 5px #e2e2e2;
    overflow: hidden;
    padding: 10px;
    li{
        width: 12.5%;
        float: left;
        padding: 5px;
        .item-inner{
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        .item-img{
            display: block;
            width: 100%;
            height: 100%;
        }
        .item-detail{
            position: absolute;
            background: rgba(59, 149, 211, 0.6);
            width: 100%;
            height: 100%;
            &.da-animate {
                @include transition(all 0.3s ease-out);
            }
        }
    }
}
.da-slideFromTop {
    left: 0;
    top: -100%;
}
.da-slideFromBottom {
    left: 0;
    top: 100%;
}
.da-slideFromLeft {
    top: 0;
    left: -100%;
}
.da-slideFromRight {
    top: 0;
    left: 100%;
}
/* 动画结果阶段的class: */
.da-slideTop {
    top: 0;
}
.da-slideLeft{
    left: 0;
}


/* sudan 2016.3.30 */
