/* Cong Min 于 2015.12.21 */

/* powered by sass&compass */
@import "compass/reset";
@import "compass/css3";

$color_text: #333;
$color_blues: #3b95d3;

@font-face {font-family: 'webfont';
    src: url('../font/webfont.eot'); /* IE9*/
    src: url('../font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/webfont.woff') format('woff'), /* chrome、firefox */
    url('../font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

/* 滚动条 */
::-webkit-scrollbar{
    background-color: #F1F1F1;
    overflow: visible;
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    min-height: 15px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:vertical:hover{
    background-color: rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb:vertical:active{
    background-color: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-button{
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track{
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-corner{
    background: transparent;
}

/* 悬停导航慢摇 */
@keyframes shake-slow {
     0% {
         @include transform(translate(0px, 0px), rotate(0deg));
        }
     2% {
         @include transform(translate(-6px, -8px), rotate(2.5deg));
        }
     4% {
         @include transform(translate(3px, -9px), rotate(-0.5deg));
        }
     6% {
         @include transform(translate(3px, -8px), rotate(2.5deg));
        }
     8% {
         @include transform(translate(0px, 5px), rotate(0.5deg));
        }
     10% {        
         @include transform(translate(3px, 2px), rotate(0.5deg));
        }
     12% {
         @include transform(translate(8px, 0px), rotate(0.5deg));
        }
     14% {
         @include transform(translate(4px, 7px), rotate(-3.5deg));
        }
     16% {
         @include transform(translate(-4px, 0px), rotate(-0.5deg));
        }
     18% {
         @include transform(translate(1px, 3px), rotate(-1.5deg));
        }
     20% {
         @include transform(translate(-8px, -1px), rotate(-3.5deg));
        }
     22% {
         @include transform(translate(5px, 9px), rotate(2.5deg));
        }
     24% {
         @include transform(translate(-9px, -10px), rotate(-2.5deg));
        }
     26% {
         @include transform(translate(0px, 7px), rotate(-1.5deg));
        }
     28% {
         @include transform(translate(-10px, 7px), rotate(2.5deg));
        }
     30% {
        @include transform(translate(8px, -7px), rotate(-1.5deg));
        }
     32% {
         @include transform(translate(0px, -8px), rotate(-0.5deg));
        }
     34% {
         @include transform(translate(9px, 7px), rotate(-0.5deg));
        }
     36% {
         @include transform(translate(-7px, 6px), rotate(0.5deg));
        }
     38% {
         @include transform(translate(8px, -10px), rotate(-0.5deg));
        }
     40% {
         @include transform(translate(8px, 0px), rotate(0.5deg));
        }
     42% {
         @include transform(translate(0px, -2px), rotate(1.5deg));
        }
     44% {
         @include transform(translate(5px, -2px), rotate(-0.5deg));
        }
     46% {
         @include transform(translate(1px, -10px), rotate(-2.5deg));
        }
     48% {
         @include transform(translate(4px, -1px), rotate(2.5deg));
        }
     50% {
         @include transform(translate(-5px, -4px), rotate(2.5deg));
        }
     52% {
         @include transform(translate(3px, 2px), rotate(-3.5deg));
        }
     54% {
         @include transform(translate(1px, -6px), rotate(-0.5deg));
        }
     56% {
         @include transform(translate(-3px, -4px), rotate(-0.5deg));
        }
     58% {
         @include transform(translate(-10px, -10px), rotate(2.5deg));
        }
     60% {
         @include transform(translate(8px, 7px), rotate(-3.5deg));
        }
     62% {
         @include transform(translate(9px, -6px), rotate(-3.5deg));
        }
     64% {
         @include transform(translate(-5px, 8px), rotate(-0.5deg));
        }
     66% {
         @include transform(translate(1px, -3px), rotate(0.5deg));
        }
     68% {
         @include transform(translate(-6px, 9px), rotate(1.5deg));
        }
     70% {
         @include transform(translate(-5px, 8px), rotate(-1.5deg));
        }
     72% {
         @include transform(translate(-10px, -2px), rotate(2.5deg));
        }
     74% {
         @include transform(translate(0px, -4px), rotate(1.5deg));
        }
     76% {
         @include transform(translate(3px, 2px), rotate(0.5deg));
        }
     78% {
         @include transform(translate(-2px, 9px), rotate(-3.5deg));
        }
     80% {
         @include transform(translate(7px, 4px), rotate(-3.5deg));
        }
     82% {
         @include transform(translate(-1px, -4px), rotate(-1.5deg));
        }
     84% {
         @include transform(translate(3px, -6px), rotate(0.5deg));
        }
     86% {
         @include transform(translate(7px, -8px), rotate(-1.5deg));
        }
     88% {
         @include transform(translate(4px, -9px), rotate(1.5deg));
        }
     90% {
         @include transform(translate(1px, -6px), rotate(2.5deg));
        }
     92% {
         @include transform(translate(-8px, -1px), rotate(-1.5deg));
        }
     94% {
         @include transform(translate(-4px, -1px), rotate(0.5deg));
        }
     96% {
         @include transform(translate(-6px, 9px), rotate(1.5deg));
        }
     98% {
         @include transform(translate(7px, 4px), rotate(-0.5deg));        
        }
}
html, body{
    width: 100%;
    height: 100%;
}
html{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
body{
    position: relative;
    font:{
        family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
        size: 14px;
        weight: 300;
    }
    color: $color_text;
    line-height: 1.5;
    overflow-x: hidden;
    padding-top: 100%;
    &.slide{
        .header,
        .container{
            @include transform(translate3d(-300px, 0, 0));
        }
        .nav{
            .top{
                right: 300px;
                .menu-btn{
                    right: -60px;
                }
            }
            .menu{
                right: 0;
            }
        }
        .nav#fixed{
            .menu-btn{
                right: -55px;
            }
        }
    }
}
a{
    color: $color_text;
    text-decoration: none;
    @include transition(all 0.3s ease-in-out);
}
.willUp{
    position: relative;
    opacity: 0;
    @include transform(translate3d(0, 80px, 0));
    @include transition(all 1.5s cubic-bezier(.19, 1, .22, 1));
    &.up{
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
    }
}
.black-shadow{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: black;
    @include opacity(0.4);
}
.nav{
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    @include transition(all 0.4s ease-out);
}

.nav#fixed{
    height: 60px;
    .top{
        height: 60px;
        background: $color_blues;
        .logo{
            top: 10px;
            left: 4%;
            height: 40px;
            @include opacity(0.85);
            img{
                width: 40px;
                height: 40px;
            }
        }
        .menu-guide {
            left: 30%;
            li {
                @include transition(all 0.4s ease-out);
                font: {
                    size: 1.15em;
                }
                &:hover {
                   animation: shake-slow 5s;
                }
                a {
                    color: #fff;
                }
            }
        }
        .menu-btn{
            top: 15px;
        }
    }
}
.top{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1003;
    width: 100%;
    height: 100px;
    @include transition(all 0.3s ease-out);
    .logo{
        float: left;
        position: fixed;
        top: 30px;
        left: 5%;
        cursor: pointer;
        //width: 350px;
        width: 30%;
        height: 60px;
        overflow: hidden;
        @include opacity(0.8);
        @include transition(all 0.4s ease-out);
        &:hover{
            @include opacity(1);
        }
        img{
            float: left;
            width: 60px;
            height: 60px;
            @include transition(all 0.4s ease-out);
        }
    }
    .menu-guide {
        float: left;
        position: fixed;
        top: 10px;
        left: -1000px;
        width: 70%;
        ul {            
            li {
                display: inline-block;
                padding: 10px 2%;
                cursor: pointer;
                color: #fff;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        @include transition(all 0.4s ease-out);
    }
    .menu-btn{
        float: right;
        position: absolute;
        top: 38px;
        right: 4%;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background: url("../img/menu2close.png");
        @include background-size(auto 28px);
        background-repeat: no-repeat;
        background-position: 0 0;
        @include transition(right 0.6s ease, top 0.3s ease-in-out);
    }
}
.menu{
    position: fixed;
    z-index: 1002;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    text-align: center;
    @include transform(translate3d(0, 0, 0));
    @include transition(right 0.3s ease-in-out);
    ul{
        position: relative;
        top: 25%;
        li{
            font-size: 1.3em;
            padding: 5px 20px;
            cursor: pointer;
            &:hover {
                color: $color_blues;;
            }
            a{
                &:hover, &.active{
                    color: $color_blues;
                }
            }
        }
    }
    .menu-footer{
        font-size: 0.8em;
        position: absolute;
        bottom: 2%;
        width: 100%;
        color: #888;
    }
}
@media screen and (max-width: 850px) {
    .nav#fixed .top {
        .menu-guide {
            width: 90%;
            left: 10%;
            font-size: 0.8rem;
        }
    }
}
@media screen and (max-width: 615px) {
    .nav#fixed .top {
        .menu-guide {
            display: none;
        }
    }
}
/* header */
.header,
.container{
    @include transform(translate3d(0, 0, 0));
    @include transition(all 0.3s ease-in-out);
}
.header{
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: center;
    .main-btns{
        cursor: pointer;
        position: absolute;
        z-index: 1;
        width: 30px;
        height: 30px;
        padding: 20px;
        img{
            width: 100%;
        }
    }
    .prev-btn, .next-btn{
        top: 50%;
        //margin-top: -35px;
        @include opacity(0.6);
        @include transition(all 0.3s ease-in-out);
        &:hover{
            @include opacity(1);
        }
    }
    .prev-btn{
        left: 15px;
    }
    .next-btn{
        right: 15px;
    }
    .down-btn{
        left: 50%;
        bottom: 50px;
        margin-left: -35px;
        @include opacity(0.6);
        @include transition(all 0.3s ease-in-out);
        &:hover{
            @include opacity(1);
        }
    }
    ul.header-list{
        position: absolute;
        z-index: 1;
        bottom: 2%;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        li{
            cursor: pointer;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 6px;
            @include border-radius(4px);
            background: #fff;
            &:hover{
                background: #ccc;
            }
            &.active{
                position: relative;
                top: 2px;
                width: 14px;
                height: 14px;
                background: url("../img/logo.png");
                @include background-size(cover);
            }
        }
    }
}
.header-black-shadow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: black;
    @include opacity(0);
}
.main-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.particles{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.bb-item {
    .blues-video {
        display: none;
        position: absolute;
        padding: 2% 5%;
        z-index: 999;
        margin: 5% 15%;
        width: 60%;
        height: 70%;
        background: rgba(0, 0, 0, 0.6);
        .close-video {
            float: right;
            font-size: 2rem;
            color: #fff;
            cursor: pointer;
        }
        #player {
            width: 90%;
            height: 95%;
        }
        
    }
}
.box-item{
    position: absolute;
    z-index: 1;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .box-center{
        position: absolute;
        top: 23%;
        width: 100%;
        h1{
            font:{
                size: 9vmin;
                weight: 200;
            }
        }
        .box-btns{
            position: relative;
            z-index: 3;
            width: 100%;
            margin-top: 40px;
        }
        .box-btn{
            display: inline-block;
            font-size: 1.2em;
            padding: 0.4em 1em;
            margin: 0 20px;
            @include border-radius(3px);
            border: 1px solid #fff;
            color: #fff;
            &:hover{
                color: $color_blues;
                background-color: #fff;
            }
        }
    }
}
.box-1{
    background-color: $color_blues;
    .box-center{
        h1{
            font-family: "webfont", 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}
.box-2{
    background-image: url("../img/box-2-bg.png");
    @include background-size(cover);
}
.box-3, .box-4, .box-5{
    background-color: $color_blues;
}
/* //header */
/* container */
.container{
    width: 100%;
    height: 1000px;
}
.bs-header{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    background-image: url("../img/bs-bg.jpg");
    @include background-size(cover);
    .content{
        position: absolute;
        top: 35%;
        width: 100%;
        margin: 0 auto;
        color: #fff;
        line-height: 1.25;
        h1{
            font:{
                size: 60px;
                weight: 200;
            }
        }
        h2{
            font:{
                size: 35px;
                weight: 100;
            }
        }
    }
    .icons{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        .icon{
            display: inline-block;
            color: #ddd;
            font-size: 22px;
            margin: 10px 5px;
            padding: 5px;
            &:hover{
                color: #fff;
            }
        }
    }
}
@media screen and (max-width:420px) {
    .bs-header {
        .content {
            h1 {
                font-size: 2.6rem;
            }
            p{
                font-size: 1.6rem;
            }
        }
    }
}
.section{
    width: 100%;
    overflow: hidden;
    .content{
        overflow: hidden;
        width: 960px;
        margin: 0 auto;
    }
    @media screen and (min-width: 750px) and (max-width: 1000px) {
        .content{
            width: 800px;
        }
    }
    @media screen and (max-width: 750px) {
        .content{
            width: 90%;
        }
    }
    h1{
        margin-bottom: 20px;
        text-align: center;
        font:{
            size: 32px;
            weight: 300;
        }
    }
    p{
        text-indent: 2em;
    }
}
.section-1{
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: #fff;
    .swiper-pagination{
        bottom: -30px !important;
        @include opacity(0.5);
    }
    .swiper-button-next {
        background: url("../img/next.png") no-repeat;
    }
    .swiper-button-prev {
        background: url("../img/prev.png") no-repeat;
    }
    .time-wraper {
        position: relative;
        margin-top: 10px;
        height: 150px;
        width: 100%;
        div {
            position: absolute;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);
            p {
                text-align: center;
                line-height: 40px;
                text-indent: 0;
            }
        }
        .bg-wraper {
            position: absolute;
            top: 15%;
            height: 65%;
            width: 100%;
            background: url("../img/time-line.png") no-repeat;
            background-size: 100% 100%;
        }
        .first {
            left: 7.5%;
            top: 10px;
        }
        .second {
            left: 44%;
            bottom: 0;
        }
        .third {
            right: 10.2%;
        }
        .now {
            width: 40px;
            height: 40px;
            color: #fff;
            background: #3B95D3;
        }
    }
}
@media screen and (max-width: 420px) {
    .section-1 {
        .time-wraper {
            .first {
                left: 4%;
            }
            .second {
                left: 40%;
            }
            .third {
                right: 6%;
            }
        }
        .swiper-button-next {
            display: none;
        }
        .swiper-button-prev {
            display: none;
        }
    }
}
.bs-box{
    background-color: #f8f8f8;
    box-shadow: 0 0 5px #e1e1e1;
    height: 200px;
    @include border-radius(5px);
    overflow: hidden;
}
.bs-img{
    float: left;
    width: 30%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.bs-text{
    float: left;
    width: 70%;
    height: 100%;
    overflow: hidden;
    .bs-text-inner{
        margin: 15px 25px;
        h3{
            font-size: 20px;
            text-align: center;
            margin-bottom: 8px;
        }
        p{
            text-indent: 0;
            line-height: 1.75;
        }
        i{
            color: #999;
        }
        strong{
            font-weight: 500;
            color: $color_blues;
        }
    }
}
.section-2{
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: #f8f8f8;
}
.bm-box{
    ul{
        padding: 0 2px;
        width: 964px;
        //height: 254px;
        height: 260px;
        overflow: hidden;
    }
    li{
        background: #fdfdfd;
        position: relative;
        width: 158px;
        height: 260px;
        float: left;
        display: inline;
        overflow: hidden;
        border: solid 2px #ebebeb;
        margin-left: -2px;
        &.on{
            z-index: 1;
            background: #fff;
            width: 318px;
            border: solid 2px #ddd;
        }

    }
}
.bm-item{
    .item-inner{
        width: 318px;
        height: 100%;
    }
    
    &:nth-of-type(1) {
        .depart-logo {
             background: url("../img/FE_blur.png") no-repeat;
        }
        &:hover {
            .depart-logo {
                background: url("../img/FE_focus.png");
                background-size: 100% 100%;
            }                    
        }            
    }
    &:nth-of-type(2) {
        .depart-logo {
            background: url("../img/BE_blur.png") no-repeat;
        }
        &:hover {
            .depart-logo {
                background: url("../img/BE_focus.png");
                background-size: 100% 100%;
            }                    
        }
    }
    &:nth-of-type(3) {
        .depart-logo {
            background: url("../img/mobile_blur.png") no-repeat;
        }
        &:hover {
            .depart-logo {
                background: url("../img/mobile_focus.png");
                background-size: 100% 100%;
            }                    
        }
    }
    &:nth-of-type(4) {
        .depart-logo {
            background: url("../img/design_blur.png") no-repeat;
         }
        &:hover {
            .depart-logo {
                background: url("../img/design_focus.png");
                background-size: 100% 100%;
            }
        }
    }
    &:nth-of-type(5) {
        .depart-logo {
            background: url("../img/operation_blur.png") no-repeat;
        }
        &:hover {
            .depart-logo {
                background: url("../img/operation_focus.png") no-repeat;
                background-size: 100% 100%;
            }            
        }
    }
    .item-main{
        float: left;
        height: 100%;
        width: 158px;
        text-align: center;
        overflow: hidden;
        border-right: 1px solid #eee;
        h2{
            margin: 15px auto;
            height: 40px;
            font:{
                size: 20px;
                weight: 300;
            }
        }
        .depart-logo {
            margin-top: 15%;
            margin-left: 22%;
            width: 73%;
            height: 52%;
            background-size: 100% 100%;
        }
    }
    .item-detail{
        float: left;
        width: 160px;
        height: 100%;
        text-align: center;
        overflow: hidden;
        margin-left: -1px;
        font:{
            size: 14px;
        }
        .detail-top {
            padding: 5px;
            height: 50%;
            border-top: 1px solid #eee;
        }
       
    }
}
@media screen and (max-width: 800px) {
    .bm-box {
        ul {
            height: auto;
            width: 100%;
            li {
                margin-left: 0.5%;
                margin-right: 0.5%;
                margin-bottom: 10px;
                width: 48%;
                &.on {
                    width: 48%;
                }
            }
        }
    }
    .bm-item {
        .item-inner {
            width: 100%;
        }
        .item-main {
            width: 45%;
        }
        .item-detail {
            width: 55%;
        }
    }
}
@media screen and (max-width: 420px) {
    .bm-item {
        .item-inner {
            width: 100%;
        }
        .item-main {
            width: 45%;
            .depart-logo {
                margin-left: 10%;
                width: 75%;
            }
        }
        .item-detail {
            width: 55%;
        }
    }
    .bm-box {
        ul {
            height: auto;
            width: 100%;
            li {
                margin-bottom: 10px;
                width: 100%;
                &.on {
                    width: 100%;
                }
            }
        }
    }
}
/* 作品展示 */

.section-3 {
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: #fff;
    .circle-wraper {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        height: 600px;
        width: 600px;
    }

    //饼状图
    .tip-zone {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        width: 600px;
        height: 600px;
        overflow: hidden;
    }
    .part{  
        position:absolute;  
        z-index: 1;
        width:600px;  
        height:600px;  
        clip:rect(0px,600px,600px,300px); 
    }  
    .bing {  
        position:absolute; 
        z-index: 1; 
        width:600px;  
        height:600px;  
        clip:rect(0px,300px,600px,0px);  
        border-radius:300px;   
        p {
            position: absolute;
            z-index: 999;
            margin-top: 300px;
            color: #fff;
        }
    }
    .law {  
        .bing{  
            background: #8CD0FF;
            transform:rotate(60deg);  
        } 
    } 
    .icy {  
        transform:rotate(60deg);  
        .bing {
            background: #68BFF6;
            transform:rotate(108deg);
        }
    }
    .hk {
        transform:rotate(120deg); 
        .bing {
            background: #64B6F0;
            transform:rotate(144deg);
        }
    }
    .advanced {
        transform:rotate(180deg); 
        .bing {
            background: #3693D2;
            transform:rotate(144deg);
        }
    }
    .international {
        transform:rotate(240deg); 
        .bing {
            background: #175583;
            transform:rotate(60deg);
        }
    }
    .wechart {
        transform:rotate(300deg); 
        .bing {
            background: #0B3856;
            transform:rotate(60deg);
        }
    }
    //圆形
    .circle {
        position: absolute;
        overflow:hidden;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        //background: #e3e3e3;
    }
    //作品按钮
    .pro-button {
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 600px;
        height: 600px;
        overflow: hidden;
        .college-wraper {
            position: relative;
            overflow: hidden;
            height: 100%;
            div {
                position: absolute;
                float: left;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                color: #fff;
                text-align: center;
                cursor: pointer;
                p {
                    line-height: 200px;
                    text-indent: 0;
                    font-size: 2rem;
                }
            
                &:nth-of-type(1) {
                    left: 17%;
                }
                &:nth-of-type(2) {
                    right: 17%;
                }
                &:nth-of-type(3) {
                    top: 33%;
                    left: 0;
                }
                &:nth-of-type(4) {
                    top: 33%;
                    right: 0;
                }
                &:nth-of-type(5) {
                    top: 66%;
                    left: 17%;
                }
                &:nth-of-type(6) {
                    top: 66%;
                    right: 17%;
                }
            }
         }
       
   }
    
    .pro-detail {
        overflow: hidden;
        position: absolute;
        z-index: 999;
        opacity: 0;
        height: 80px;
        width: 80px;
        left: 42%;
        top: 42%;
        transform: scale(0.5) rotate(-270deg); 
        @include transition(all 0.3s ease-in);

       .circle {
            background: #e3e3e3;
       }
        &.pro-detail-show { 
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            transform: scale(0.9) rotate(0); 
            opacity: 1;
        }
        &.next-pro-detail {
            transform: scale(1) rotate(720deg); 
        }
        &.prev-pro-detail {
            transform: scale(1) rotate(-720deg); 
        }
        .circle {
            position: relative;
            overflow: hidden;
            span {
                position: absolute;
                top: 42%;
                height: 60px;
                width: 60px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .prev {
                left: 10px;
            }
            .next {
                right: 10px;
            }
            .circle-close {
                position: absolute;
                top: 80px;
                right: 100px;
            }
            ul {
                position: relative;
                top: 25%;
                left: 10%;
                width: 80%;
                height: 50%;
                li {
                    display: none;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    &.show-current-li {
                        display: block;
                    }
                    .intro-wraper {
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        div {
                            float: left;
                            margin-left: 5%;
                            width: 45%;
                            height: 100%;
                        }
                        .index-img {
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .index-intro {
                            text-align: center;
                            h3 {
                                text-align: center;
                                font-size: 1.6rem;
                            }
                            p {
                                
                                text-align: center;
                                text-indent: 0;
                                font-size: 1.3rem;
                            }
                            a {
                                display: block;
                                font-size: 1.1rem;
                                margin-top: 60%;
                            }
                            img {
                                margin-top: 10%;
                                width: 60%;
                                height: 60%;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .section-3 {
        .circle-wraper {
            width: 550px;
            height: 550px;
        }
        .tip-zone {
            width: 550px;
            height: 550px;
        }
        .part {
            width: 550px;  
            height: 550px;  
            clip: rect(0px, 550px, 550px, 275px); 
        }
        .bing {
            width: 550px;  
            height: 550px;  
            clip: rect(0px, 275px, 550px, 0px);
        }
        .pro-button {
            width: 550px;
            height: 550px;
            .college-wraper {
                div {
                    height: 150px;
                    width: 150px;
                    p {
                        line-height: 150px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .pro-detail {
            .circle {
                span {
                    height: 40px;
                    width: 40px;
                }
                ul li .intro-wraper {
                    .index-intro {
                        h3 {
                            font-size: 1.3rem;
                        }
                        p {
                            font-size: 1rem;
                        }
                        a {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 615px) {
    .section-3 {
        .circle-wraper {
            width: 280px;
            height: 280px;
        }
        .tip-zone {
            width: 280px;
            height: 280px;
        }
        .part {
            width: 280px;  
            height: 280px;  
            clip: rect(0px, 280px, 280px, 140px); 
        }
        .bing {
            width: 280px;  
            height: 280px;  
            clip: rect(0px, 140px, 280px, 0px);
        }
        .pro-button {
            width: 280px;
            height: 280px;
            .college-wraper {
                div {
                    height: 100px;
                    width: 100px;
                    p {
                        line-height: 100px;
                        font-size: 1rem;
                    }
                }
            }
        }
        .pro-detail {
            .circle {
                .circle-close {
                    top: 20px;
                    right: 80px;
                }
                span {
                    height: 30px;
                    width: 30px;
                }
                ul {
                    width: 70%;
                    left: 15%;
                    li .intro-wraper {
                        .index-intro {
                            h3 {
                                font-size: 1rem;
                            }
                            p {
                                font-size: 0.5rem;
                            }
                            a {
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.section-4{
    padding-top: 35px;
    padding-bottom: 60px;
    background-color: #f8f8f8;
}
.gg-box{
    background-color: #fff;
    box-shadow: 0 0 5px #e2e2e2;
    overflow: hidden;
    padding: 10px;
    li{
        width: 15%;
        height: 140px;
        float: left;
        padding: 5px;
        .item-inner{
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        .item-img{
            display: block;
            width: 100%;
            height: 100%;
        }
        .item-detail{
            position: absolute;
            background: rgba(59, 149, 211, 0.6);
            width: 100%;
            height: 100%;
            &.da-animate {
                @include transition(all 0.3s ease-out);
            }
            p {
                text-indent: 0;
                color: #fff;
                padding: 2% 5%;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 615px) {
    .gg-box li {
        width: 29%;
        height: 80px;
        .item-detail {
            p {
                font-size: 0.2rem;
            }
        }
    }
}
.da-slideFromTop {
    left: 0;
    top: -100%;
}
.da-slideFromBottom {
    left: 0;
    top: 100%;
}
.da-slideFromLeft {
    top: 0;
    left: -100%;
}
.da-slideFromRight {
    top: 0;
    left: 100%;
}
/* 动画结果阶段的class: */
.da-slideTop {
    top: 0;
}
.da-slideLeft{
    left: 0;
}

/* sudan 2016.3.30 */
/* 加入我们 */
.section-6 {
    padding: 35px 0;
    .content {
        padding: 3% 0;
        box-shadow: -3px -3px 8px #eee;
        background: #f8f8f8;
    }
    .information, .two-dimesion-code {
        overflow: hidden;
        float: left;
        margin-left: 5%;
        width: 40%;
        h2 {
            padding: 10px 5%;
            margin-bottom: 10px;
            font: {
                size: 16px;
                weight: bold;
            }
            border-left: 3px solid #3b95d3;
        }
        background: #fff;
    }

    /* 报名表单 */
    .information {
        form {
            padding-left: 5%;
            div {
                overflow: hidden;
                margin-bottom: 30px;
                label {
                    font: {
                        size: 14px;
                    }
                }
            }
            input[type="text"] {
                margin-left: 5%;
                width: 65%;
                outline: none;
                border: 0;
                border-bottom: 1px solid #eee;
            }
            .tel-msg, .mail-msg {
                display: none;
            }
            .save {
                text-align: center;
                input {
                    @include transition(all 0.5s ease-in-out);
                    padding: 5px 25px;
                    border-radius: 4px;
                    box-shadow: 1px 1px 5px #3b95d3;
                    border: 0;
                    font: {
                        size: 16px;
                    }   
                    color: #fff;            
                    background: #3b95d3;
                    &:hover {
                        background: #1a74b2;
                    }
                }            
            }
            .stu-group {
                select {
                    @include transition(all 0.5s ease-in-out);
                    padding: 5px 25px;
                    margin-left: 5%;
                    width: 60%;
                    height: 30px;
                    border: 1px solid #eee;
                }
                label {
                    float: left;
                }
                .stu-grade {
                    float: left;
                }
                .group-wraper {
                    float: left;
                    width: 60%;
                    margin-left: 10%;
                    li {
                        cursor: pointer;
                    }
                    .selected-option {
                        border-bottom: 1px solid #eee;
                    }
                }
                .group-option {
                    li {
                        padding: 5px 20%;
                        &:hover {
                            background: #F8F8F8;
                        }
                    }
                }
            }
        }
    }

    /* 二维码 */
    .code-wraper {
        float: left;
        width: 45%;
        margin-left: 5%;
        margin-top: 15%;
        text-align: center;
        img {
            width: 70%;
            height: 50%;
        }
    }
    .join-logo {
        margin-left:50%;
        margin-top: 15%;
        width: 10%;
        height: 10%;
    }
}

@media screen and (max-width: 615px) {
    .section-6 .information, .section-6 .two-dimesion-code {
        margin: 5%;
        width: 90%;
    }
    .section-6 {
        .join-logo {
            margin-left: 45%;
            width: 15%;
            height: 10%;
        }
        .two-dimesion-code {
            height: auto;
        }
    }
    
}

/* 毕业去向 */
.section-5 {
    margin-top: 35px;
    padding: 35px 0;
    background: #F8F8F8;
    .content {
        overflow: hidden;
         background: #fff;
    }
    .card-left {
        float: left;
        overflow: hidden;
        margin-left: 5%;
        width: 100%;
    }
   
    .people-card {
        float: left;
        width: 45%;
        padding: 40px 20px;
        h2 {
            font-size: 1.6rem;
            span {
                color: #3b95d3;
            }            
        }
        .company {
            overflow: hidden;
            margin-top: 30px;
            width: 60%;
            p {
                font-size: 1rem;
            }
            .direction { 
                float: right;
                font-size: 0.7rem;
                color: #696969;
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .section-5 {
        .people-card {
            width: 40%;
            .company {
                width: 80%; 
                p {
                    text-indent: 1em;
                }
            }
        }
    }
}
@media screen and (max-width: 615px) {
     .section-5 {
        .people-card {
            width: 40%;
            padding: 40px 10px;
            h2 {
                font-size: 0.8rem;
            }
            .company {
                width: 80%; 
                p {
                    font-size: 0.7rem;
                    text-indent: 0em;
                }
            }
        }
    }
    .section {
        h1 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    }
}